@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}


ul {
    list-style: none;
}

.body-container {
    flex-grow: 1;
    /*width: 1200px;*/
}
.main-container {
    width: 1100px;
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
}


.service-name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write-img-box {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}

.write-img-box {
    width: 25px;
    height: 25px;
}

.write-img-box img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}




/*사이드바 지움*/

.service-name-box {
    padding-left: 20px;
}



.service-name-hr {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #ff9326;
    border: 0;
}

/* 프로필사진 */

.user-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.user-profile-img-container {
    width: 230px;
}

.user-profile-img-box {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.user-profile-img-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/* 이미지 옆 카운트 박스 */
.user-data-container {
    display: flex;
    width: 400px;
    align-items: center;
}

.user-data-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user-info1-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.data-title {
    margin-top: 10px;
}

.user-info2 {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    padding-bottom: 40px;
}

/* 식단 컨테이너 */

.meal-list-container {
    padding: 0 20px 0 40px;
    display: flex;
    flex-direction: column
}

.meal-list-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.meal-list-info div {
    margin-right: 15px;
}

.eat-list-view-btn {
    width: 40px;
    height: 40px;
}

.eat-list-view-btn img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user-info2-box div {
    padding-top: 10px;
}

/* 음식 사진 */

.meal-img-list li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.meal-list-info h2 {
    font-weight: 900;
}

.meal-img {
    position: relative;
}

.meal-info {
    position: absolute;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meal-img-box {
    width: 258px;
    height: 258px;
}

.imgbox {
    width: 258px;
    height: 258px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8; /* Set the opacity to 50% */
}

.imgbox img:hover {
    transform: scale(1.1);
    opacity: 1; /* Set the opacity to 50% */
}

.meal-list-container {
    margin-bottom: 30px;
}

/* 모달 */

.modal {
    /*display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 1000px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-header {
    padding: 0 20px 0 20px;
    margin-top: 15px;
}

.modal-header-text{
    display: flex;
    justify-content: space-around;
}


.day-img-box {
    width: 450px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
}

.day-img-box img {
    width: 450px;
    height: 450px;
    border-radius: 8px;
    object-fit: cover;
}

.modal-main {
    display: flex;
    justify-content: space-around;
}

.day-detail {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.day-detail1 {
    display: flex;
    margin-bottom: 20px;
}

.day-detail2 {
    display: flex;
    flex-direction: column;
}

.meal-time {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 30px;
    width: 60px;
    border: 1px solid #ff7b00;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.meal-time-checked {
    background-color: #ff9326;
    color: white;
}

.day-food-detail {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.day-food-name {
    width: 50%;
}

.day-detail3 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    float: right;
    font-size: 30px;
}

.day-detail3 h2 {
    margin-right: 15px;
}

.detail3-kcal {
    color: #ff7b00;
}

.slider {
    position: relative;
    /*margin: 0 auto;*/
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type="radio"] {
    display: none;
}

ul.imgs {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.imgs li {
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type="radio"]:nth-child(1):checked ~ .bullets > label:nth-child(1) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(2):checked ~ .bullets > label:nth-child(2) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(3):checked ~ .bullets > label:nth-child(3) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(4):checked ~ .bullets > label:nth-child(4) {
    background-color: #fff;
}

.slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.modal-hidden {
    display: none;
}

.day-detail4{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.day-detail4 div{
    margin-left: 15px;
    padding:10px;
    background-color: #ff9326;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}


