@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}

.body-container {
    flex-grow: 1;
}

.main-container {
    width: 1100px;
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 300px;
}

.service-name-box {
    padding-left: 20px;
}
.update-container {
    padding-bottom: 50px;
}

/* 회원정보수정 아래 hr 선 */
.service-name-hr {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #ff9326;
    border: 0;
}

/* 프로필 이미지  */
.update-profilebox {
    width: 500px;
    margin: 0 auto;
}

.profile-img-box {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}

#preview {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-box {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nicknameContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.companyName {
    text-align: right;
}

#companyName{
    background-color: white;
    font-size: 25px;
}

#companyComment{
    background-color: white;
    text-align: center;
}

/* 추가 css */
#doneImage {
    display: none;
}
.edit-img-box,
.done-img-box {
    display: inline-block;
    vertical-align: middle;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));

}


#companyName-input {
    vertical-align: middle;
}

/*코멘트쪽*/
#comment-done-img {
    display: none;
}

.comment-edit-img-box,
.comment-done-img-box {
    display: inline-block;
    vertical-align: middle;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}

.comment-edit-img,
.comment-done-img {
    width: 10px;
    height: 10px;
}

h5{
    margin-top: 10px;
}

.profile-img-box {
    position: relative;

}

.photo-call {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(210, 210, 210, 0.3);
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}

.photo-call img{
    width: 20px;
    height: 20px;
    padding: 2px;
    object-fit: cover;
}

input[type="file"] {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
}

.photo-done-img-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px grey;
    background-color: rgba(210, 210, 210, 0.3);
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}

.photo-done-img-box img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}



/* 추가 css */


.update-user-data {
    padding-top: 40px;
}

/* 한줄코멘트 */
.user-info {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.edit-comment-box {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.edit-comment-box img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.edit-comment-box {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}

.update-row {
    display: flex;
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px dotted rgba(255, 200, 81, 0.863);
}

.data-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.data-content {
    width: 60%;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgba(210, 210, 210, 0.3);
}

.id-box {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgba(210, 210, 210, 0.3);
}

.radio-group {
    display: flex;
    justify-content: left;
}

.radio-group label {
    margin-left: 5px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"] + label {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    align-items: center;
    width: 20%;
    border: 1px solid #ff7b00 !important;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.radio-group input[type="radio"] + label {
    background-color: #fff;
    color: #ff9326;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #ff9326;
    color: #fff;
}

/* datepicker */

.ui-datepicker-trigger {
    display: none;
}

#datepicker {
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(50, 50, 50, 0.9);
    position: relative !important;
}

.ui-datepicker {
    position: absolute !important;
    left: 47.5% !important;
}

.hasDatepicker {
    width: 70% !important;
    margin-right: 10px;
}

/* 휴대전화 */

.phone-number-box {
    display: flex;
    align-items: center;
}

#phone1 {
    width: 95px;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(210, 210, 210, 0.3);
    border-radius: 6px;
}

#phone2,
#phone3 {
    width: 20% !important;
}
/* 이메일 */
.email-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

#mail1,
#mail2 {
    width: 31%;
    background-color: rgba(210, 210, 210, 0.3);
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
}

/* 주소 */

.address-btn-box {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}

.address-box input {
    margin-bottom: 10px;
}

.address-btn {
    background-color: #ff9326;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    width: 100px;
    line-height: 24px;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}

#addressNumber {
    width: 50%;
}

.spec {
    width: 60%;
    font-size: 14px;
}

/* 수정완료버튼 */

.submit-btn-box {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
    margin-right: 80px;
}

#submit-btn,
#list-btn {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #ff9326;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
#list-btn {
    background-color: #c9c5c5;
    color: white;
}

#list-btn:hover {
    background-color: #a3a3a3;
}

#submit-btn:hover,
.address-btn:hover {
    background-color: #ff7e00;
}


.note-editor.note-frame {
    width: 100%;
    float: left;
    margin-right: 20px;
}

.note-resizebar {
    display: none;
}

/* CSS */
.summernote-editor {
    /* Add your custom styles for the Summernote editor here */
    width: 100%;
    float: left;
    margin-right: 20px;
}

.summernote-editor .note-resizebar {
    display: none;
}
