body{
    font-family: Pretendard, NotoSansKR, Manrope, sans-serif;
}

a{
    text-decoration: none;
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-container a{
    margin: 20px;
}

.banner-container{
    background-color: pink;
    width: 100%;
    height: 400px;
}

.write-container{
    background-color: grey;
    width: 100%;
    height: 600px;
}

/* 차트*/
.chart-container{
    background-color: skyblue;
    width: 100%;
    height: 466px;
}

.chart-box{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-btn{
    width: 300px;
    background-color: #ff7e00;
    border-radius: 50px;
    font-weight: 700;
    line-height: 140%;
    font-size: 24px;
    height: 72px;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.chart-btn:hover{
    background-color: #BF6000;
}




/* 차트 이미지*/
.chart-img-box{
    width: 523px;
    height: 466px;
    background-color: greenyellow;
}

/* 차트 설명 */
.chart-info h2{
    font-size: 40px;
    line-height: 140%;
    text-align: start;
}


.consulting-container{
    width: 100%;
    background-color: ivory;
    height: 600px;
}

.shop-container{
    width: 100%;
    background-color: cadetblue;
    height: 600px;
}

