@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}

.work-container,
.work-container *,
.work-container::before,
.work-container::after {
    box-sizing: content-box;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}


.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

h2{
    float: left;
    width: 850px;
}


* {
    box-sizing: border-box;
}

p,
span {
    margin: 0;
}

span{
    color: #ff8b26;
}

a {
    color: black;
}

img {
    display: block;
    width: 85%;
    height: 80px;
    margin: auto;
    cursor: pointer;
}

.cart {
    width: 880px;
    margin: auto;
    padding: 50px;
}

.cart ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
}

.cart ul :first-child {
    color: limegreen;
}

table {
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead {
    text-align: center;
    font-weight: bold;
}

tbody {
    font-size: 12px;
}

td {
    padding: 15px 0px;
    border-bottom: 1px solid lightgrey;
}

.cart__list__detail :nth-child(3) {
    vertical-align: top;
}

.cart__list__detail :nth-child(3) a {
    font-size: 12px;
}

.cart__list__detail :nth-child(3) p {
    margin-top: 6px;
    font-weight: bold;
}

.cart__list__smartstore {
    font-size: 12px;
    color: gray;
}

.cart__list__option {
    vertical-align: top;
    padding: 20px;

}

.cart__list__option p {
    margin-bottom: 25px;
    position: relative;
}

.cart__list__option p::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    left: 0px;
    top: 25px;
    position: absolute;
}

.cart__list__optionbtn {
    background-color: white;
    font-size: 10px;
    border: lightgrey solid 1px;
    padding: 7px;
    margin-left: 7px;
}

.cart__list__detail :nth-child(4),
.cart__list__detail :nth-child(5),
.cart__list__detail :nth-child(6) {
    border-left: 2px solid whitesmoke;
}

.cart__list__detail :nth-child(5),
.cart__list__detail :nth-child(6) {
    text-align: center;
}

.cart__list__detail :nth-child(5) button {
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
}

.price1 {
    font-weight: bold;
}


.cart__mainbtns {
    width: 420px;
    height: 200px;
    padding-top: 40px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.cart__bigorderbtn {
    width: 135px;
    height: 50px;
    font-size: 16px;
    /* margin: auto; */
    border-radius: 25px;
}

.cart__bigorderbtn.left {
    background-color: white;
    border: 1px rgb(160, 160, 160) solid;
    cursor: pointer;
    margin-right: 10px;
}

.cart__bigorderbtn.right {
    background-color: rgb(255, 139, 38);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.orderbtn-wrap{
    display: flex;
    justify-content: center;
}

.priceResult{
    float: right;
    margin-top: 20px;
    color: #ff8b26;
}

.cart_info{
    font-size: 12px;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(160, 160, 160);
    font-weight: lighter;
}






