@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}

.body-container {
    flew-glow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}

.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.sidebar {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 111, 15);
}

.summary{
    width: 100%;
    height: 500px;
}

#product > .view > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#product > .view > .info > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#product > .view > .info > .image > img {
    width: 100%;
    height: 550px;
}

#product > .view > .info > .summary > nav {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 12px;
    overflow: hidden;
}

#product > .view > .info > .summary > nav > h1 {
    float: left;
    color: #ff9326;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
}


.rating {
    font-size: 24px;
    color: #ff9326;
    width: 200px;
}

.rating .star {
    transition: color 0.3s;
    color: gray;
}

.rating /* 채워진 별점의 색깔 */
.filled {
    color: yellow;
}




#product > .view > .info{
    width: 900px;
    height: 600px;
}
#product > .view > .info > .summary > nav > h2 {
    float: right;
    color: #777;
    margin-top: 8px;
}

#product > .view > .info > .summary > nav > h3 {
    font-size: 18px;
    font-weight: bold;
    color: #1e2732;
}

#product > .view > .info > .summary > nav > p {
    font-size: 14px;
    color: #474747;
    line-height: 36px;
    letter-spacing: -1px;
}

#product > .view > .info > .summary > nav:nth-child(2) > .rating > a {
    color: #ff9326;
    text-decoration: underline;
}

#product > .view > .info > .summary .org_price > del {
    font-size: 18px;
    color: #aaa;
}

#product > .view > .info > .summary .org_price > del::after { content: "원"; }

#product > .view > .info > .summary .org_price > span {
    color: #ff9326;
    font-size: 16px;
    margin-left: 6px;
}

#product > .view > .info > .summary .org_price > span::after { content: "↓"; }

#product > .view > .info > .summary .dis_price > ins {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

#product > .view > .info > .summary .dis_price > ins::after { content: "원"; }
#product > .view > .info > .summary .delivery {
    font-size: 16px;
    color: #ff9326;
}

#product > .view > .info > .summary .origin {
    font-size: 16px;
}

#product > .view > .info > .summary .arrival {
    font-size: 14px;
    margin-left: 10px;
}
#product > .view > .info > .summary .desc {
    display: block;
    color: #ff9326;
}

#product > .view > .info > .summary .card > i {
    display: inline-block;
    width: 30px;
    height: 18px;
    top: 4px;
    font-size: 0;
    vertical-align: text-top;
    margin-right: 2px;
}

#product > .view > .info > .summary .cardfree > i { background-position: -126px 0; }

#product > .view > .info > .summary .cardadd > i { background-position: -51px -21px; }

#product > .view > .info > .summary .banner { width: 100%; }




#product > .view > .info > .summary .count {
    position: relative;
    width: 100px;
    height: 40px;
}
.count-btn button {
    width: 25px; /* 버튼의 너비 조정 */
    height: 25px; /* 버튼의 높이 조정 */
    font-size: 25px; /* 버튼의 글꼴 크기 조정 */
    cursor: pointer;
}
.count-btn-container{
    width: 100%;
    text-align: right;
}

.star_rating {
    font-size: 20px;
}

.star {
    display: inline-block;
}

.star.filled {
    color: gold;
}






.count-btn #count {
    font-size: 20px; /* 숫자 표시 영역의 글꼴 크기 조정 */
}
#product > .view > .info > .summary .count > button {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(./img/ico_sprites.png);
    font-size: 0;
    background-color: transparent;
    border: none;
}

#product > .view > .info > .summary .count > input[name=num] {
    position: absolute;
    left: 30px;
    top: 0;
    width: 30px;
    height: 21px;
    border: 1px solid #ececec;
    font-size: 14px;
    text-align: center;
}

#product > .view > .info > .summary .count > .decrease {
    left: 0;
    top: 0;
    background-position: 0px -74px;
}

#product > .view > .info > .summary .count > .increase {
    left: 70px;
    top: 0;
    background-position: -48px -74px;
}


#product > .view > .info > .summary .total {
    overflow: hidden;
    margin-top: 150px;

}

#product > .view > .info > .summary .total > span {
    float: right;
    display: inline-block;
    line-height: 38px;
    font-size: 35px;
    font-weight: bold;
    color: #000;
    text-align: right;
    letter-spacing: -0.5px;
}

#product > .view > .info > .summary .total > span::after { content: "원";}

#product > .view > .info > .summary .total > em {
    float: right;
    display: block;
    width: 100px;
    height: 22px;
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #ff9326;
    letter-spacing: -1px;
}


#product > .view > .info > .summary .button {
    overflow: hidden;
    margin-top: 35px;
}

#product > .view > .info > .summary .button .order  {
    float: left;
    width: 49%;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 10px;
}

#product > .view > .info > .summary .button .cart  {
    float: left;
    width: 49%;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 10px;
}

/*#product > .view > .info > .summary .button > .cart {*/
/*    background: #fff;*/
/*    border: 1px solid #d9d9d9;*/
/*    color: #ff9326;*/
/*    border-radius: 10px;*/
/*}*/

.cart{
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #ff9326;
    border-radius: 10px;
}

.order{
    background: #ff9326;
    border: 1px solid #ff9326;
    color: #fff;
}




/*#product > .view > .info > .summary .button > .order {*/
/*    background: #ff9326;*/
/*    border: 1px solid #ff9326;*/
/*    color: #fff;*/
/*}*/

#product > .view > .review > .paging > .num > a.on {
    color: #ff9326;
    font-weight: bold;
}

#product > .view > article > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}

.detail{

    margin-top: 100px;
}

.notice{
    margin-top: 100px;
}

.review{

    margin-top: 50px;
}
#product > .view > article > nav > p {
    float: left;
    color: #777;
    margin-top: 6px;
    margin-left: 6px;
}

#product > .view > article > nav > h1 {
    float: left;
    color: #1e2732;
    font-weight: bold;
    font-size: 1.5em;
}

.button2 {
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362A89;
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: rgba(0, 17, 119, 0.025);
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 8px 20px 8px 24px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s linear;
}
.button2.dark {
    --color: #F6F8FF;
    --color-hover: #F6F8FF;
    --color-active: #fff;
    --icon: #8A91B4;
    --icon-hover: #fff;
    --icon-active: #fff;
    --background: #000000;
    --background-hover: #171827;
    --background-active:  #ff9326;
    --border: transparent;
    --border-active: transparent;
    --shadow: #{rgba(#001177, .16)};
}
.button2:hover {
    --icon: var(--icon-hover);
    --color: var(--color-hover);
    --background: var(--background-hover);
    --border-width: 2px;
}
.button2:active {
    --scale: .95;
}
.button2:not(.liked):hover {
    --hand-rotate: 8;
    --hand-thumb-1: -12deg;
    --hand-thumb-2: 36deg;
}
.button2.liked {
    --span-x: 2px;
    --span-d-o: 1;
    --span-d-x: 0;
    --icon: var(--icon-active);
    --color: var(--color-active);
    --border: var(--border-active);
    --background: var(--background-active);
}
.button2:before {
    content: "";
    min-width: 103px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transition: background 0.2s linear, transform 0.2s, box-shadow 0.2s linear;
    transform: scale(var(--scale, 1)) translateZ(0);
    background: var(--background);
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border), 0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
}
.button2 .hand {
    width: 11px;
    height: 11px;
    border-radius: 2px 0 0 0;
    background: var(--icon);
    position: relative;
    margin: 10px 8px 0 0;
    transform-origin: -5px -1px;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
}
.button2 .hand:before, .button .hand:after {
    content: "";
    background: var(--icon);
    position: absolute;
    transition: background 0.2s linear, box-shadow 0.2s linear;
}
.button2 .hand:before {
    left: -5px;
    bottom: 0;
    height: 12px;
    width: 4px;
    border-radius: 1px 1px 0 1px;
}
.button2 .hand:after {
    right: -3px;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background: var(--icon);
    box-shadow: -0.5px 4px 0 var(--icon), -1px 8px 0 var(--icon), -1.5px 12px 0 var(--icon);
    transform: scaleY(0.6825);
    transform-origin: 0 0;
}
.button2 .hand .thumb {
    background: var(--icon);
    width: 10px;
    height: 4px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: scale(0.85) translateY(-0.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
}
.button2 .hand .thumb:before {
    content: "";
    height: 4px;
    width: 7px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    background: var(--icon);
    position: absolute;
    left: 7px;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
}
.button2 .hand,
.button2 span {
    display: inline-block;
    vertical-align: top;
}
.button2 .hand span,
.button2 span span {
    opacity: var(--span-d-o, 0);
    transition: transform 0.25s, opacity 0.2s linear;
    transform: translateX(var(--span-d-x, 4px)) translateZ(0);
}
.button2 > span {
    transition: transform 0.25s;
    transform: translateX(var(--span-x, 4px)) translateZ(0);
}



#product > .view > .notice > table { width: 100%; }

#product > .view > .notice > table:nth-of-type(2) { border-top: 1px solid #ececec; }

#product > .view > .notice > table tr > td {
    padding: 5px 0 6px 21px;
    font-size: 14px;
    color: #777;
}

#product > .view > .notice > table tr > td:nth-child(1) { width: 20%; color: #222; }

#product > .view > .review > ul {
    padding: 10px;
    box-sizing: border-box;
}

#product > .view > .review > ul > li {
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}

#product > .view > .review > ul > li > div { overflow: hidden; }

#product > .view > .review > ul > li > div > span {
    float: right;
    color: #555;
}

#product > .view > .review > ul > li > div >  h5 { float: left; }


#product > .view > .review > ul > li > h3 {
    color: #555;
    margin-top: 6px;
}

#product > .view > .review > ul > li > p {
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 10px;
}

#product > .view > .review > .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#product > .view > .notice > .notice {
    margin: 20px 0;
    padding: 21px 26px 20px 19px;
    line-height: 20px;
    font-size: 14px;
    color: #757c8a;
    background: #fafafa;
    border-radius: 2px;
    white-space: normal;
}

#product > .view > .review >.paging > span > a {
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}

#product > .view > .review > .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#product > .view > .review > .paging > .num > a.on {
    color: #ff9326;
    font-weight: bold;
}



.rating {
    display: flex;
    font-size: 24px;
    color: #ff9326;
}

.rating .star {
    transition: color 0.3s;
}



.star {
    color: gray;
}

.filled {
    color: gold;
}


.total h4{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.product-file{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-information{
    padding: 20px;
}