@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}


.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* main1배너구역 */
.main1-banner-wrap{
    width: 900px;
    height: 200px;
    margin:30px auto;
    position: relative;
    overflow: hidden;
}
.main1-slide-ul {
    /*이미지들이 담겨있는 슬라이드 컨테이너*/
    position: absolute;
    left: 0;
    top: 0;
    width: 3600px;
    display: flex;
}
.main1-slide-ul>li{
    width: 1200px;
    height: 200px;
}
.main1-slide-ul>li:hover{
    cursor: pointer;
}
.banner{
    position: relative;
    right: 100px;
    bottom: 30px;
}
.banner img{
    width: 1100px;
    height: 100%;
    object-fit: cover;
}
.banner p{
    position: absolute;
    font-size: 50px;
    font-weight: 700;
}
.banner1{
    color: #f2f2f2;
    top: 50px;
    left: 50px;
}
.banner2{
    top: 50px;
    left: 50px;
}
.banner3{
    color: #f2f2f2;
    right: 50px;
    top: 150px;
}

.slide-controller>span {
    color: black;
    font-weight: 700;
    position: absolute;
    background-color: transparent;
    text-align: center;
    padding: 10px 20px;
    top: 30%;
    font-size: 1.3em;
    cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */

.prev {
    left: 10px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/

.next {
    right: 10px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/

.shoppingType{

    height: 80px;
}

.swiper-wrapper{
    display: flex;
    list-style-type: none;
}

.index-top {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 3.34% 0 2.34% 0;
    text-align: center;
}
.index-top span {
    float: left;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 2.3rem;
    line-height: 3.8rem;
    font-weight: 700;
    color: #000;
}
.vertical-bar {
    display: inline-block;
    width: 2px;
    height: 14px;
    margin: 0 !important;
    padding: 0 !important;
    background-size: contain;
}

.index-top img{
    width: 60px;
    cursor: pointer;
}

hr {
    width: 900px;
}

.ShoppingNumber{

    font-size:17px;
    color:#FF6C22;
    font-weight: bold;
}

.ShoppingContainer{
    color:#4C4F69;
    display: flex;
    margin-top:50px;

}

.select{
    height: 30px;
    outline: none;
    border: 1px solid rgb(210,210,210);
    border-radius: 8px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}

.select-wrap{
    text-align: right;
    width: 700px;
}

.shoppingItem{

    list-style-type: none;
    float: left;
    display: flex;
    width: 250px;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin : 18px;
    cursor: pointer;
    text-align: right;
}


.itemImg{

    height: 250px;
    border-radius: 10px;
}


.on{
    text-decoration-line: none;
    color: #ff9326;
}

.top{
    width: 250px;
}

.shoppingDesc{
    text-align: right;
}


.star_rating{
    width: 250px;
    text-align: left;
    margin-top: 10px;
}


.review{

    color:#707270;
    font-size: 15px;
}

.reviewNumber{

    color: #999999;
    font-size: 12px;
}

p{

    color: #3b403b;
    font-size:16px;
}

.title{
    width: 250px;
    text-align: left;
    margin-top: 10px;
}

.price{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #ff9326;;
}

.price-container{
    width : 100px;
    text-align: left;
    margin-top: 10px;
}

.shoppingName{

    font-size:15px;
    cursor: pointer;
    color: #645e57;
}


.page_wrap {
    text-align:center;
    font-size:0;
    width: 800px;
}
.page_nation {
    display:inline-block;
}
.page_nation .none {
    display:none;
}
.page_nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
    border-radius: 10px;
}

.page_nation .arrow {
    border:1px solid #ccc;
}


.page_nation .pprev {
    background:#fff url('../../img/page_pprev.png') no-repeat center center;
    margin-left:0;
}
.page_nation .prev {
    background:#fff url('../../img/page_prev.png') no-repeat center center;
    margin-right:7px;
}
.page_nation .next {
    background:#fff url('../../img/page_next.png') no-repeat center center;
    margin-left:7px;
}
.page_nation .nnext {
    background:#fff url('../../img/page_nnext.png') no-repeat center center;
    margin-right:0;
}
.page_nation a.active {
    background-color:#ff9326;
    color:#fff;
    border:1px solid #e2e4e9;
}


.button {
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362A89;
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: rgba(0, 17, 119, 0.025);
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 8px 20px 8px 24px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s linear;
}
.button.dark {
    --color: #F6F8FF;
    --color-hover: #F6F8FF;
    --color-active: #fff;
    --icon: #8A91B4;
    --icon-hover: #BBC1E1;
    --icon-active: #fff;
    --background: #000000;
    --background-hover: #171827;
    --background-active:  #ff9326;
    --border: transparent;
    --border-active: transparent;
    --shadow: #{rgba(#001177, .16)};
}
.button:hover {
    --icon: var(--icon-hover);
    --color: var(--color-hover);
    --background: var(--background-hover);
    --border-width: 2px;
}
.button:active {
    --scale: .95;
}
.button:not(.liked):hover {
    --hand-rotate: 8;
    --hand-thumb-1: -12deg;
    --hand-thumb-2: 36deg;
}
.button.liked {
    --span-x: 2px;
    --span-d-o: 1;
    --span-d-x: 0;
    --icon: var(--icon-active);
    --color: var(--color-active);
    --border: var(--border-active);
    --background: var(--background-active);
}
.button:before {
    content: "";
    min-width: 103px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transition: background 0.2s linear, transform 0.2s, box-shadow 0.2s linear;
    transform: scale(var(--scale, 1)) translateZ(0);
    background: var(--background);
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border), 0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
}
.button .hand {
    width: 11px;
    height: 11px;
    border-radius: 2px 0 0 0;
    background: var(--icon);
    position: relative;
    margin: 10px 8px 0 0;
    transform-origin: -5px -1px;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
}
.button .hand:before, .button .hand:after {
    content: "";
    background: var(--icon);
    position: absolute;
    transition: background 0.2s linear, box-shadow 0.2s linear;
}
.button .hand:before {
    left: -5px;
    bottom: 0;
    height: 12px;
    width: 4px;
    border-radius: 1px 1px 0 1px;
}
.button .hand:after {
    right: -3px;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background: var(--icon);
    box-shadow: -0.5px 4px 0 var(--icon), -1px 8px 0 var(--icon), -1.5px 12px 0 var(--icon);
    transform: scaleY(0.6825);
    transform-origin: 0 0;
}
.button .hand .thumb {
    background: var(--icon);
    width: 10px;
    height: 4px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: scale(0.85) translateY(-0.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
}
.button .hand .thumb:before {
    content: "";
    height: 4px;
    width: 7px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    background: var(--icon);
    position: absolute;
    left: 7px;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
}
.button .hand,
.button span {
    display: inline-block;
    vertical-align: top;
}
.button .hand span,
.button span span {
    opacity: var(--span-d-o, 0);
    transition: transform 0.25s, opacity 0.2s linear;
    transform: translateX(var(--span-d-x, 4px)) translateZ(0);
}
.button > span {
    transition: transform 0.25s;
    transform: translateX(var(--span-x, 4px)) translateZ(0);
}









