.quick-menu,
.quick-menu *,
.quick-menu::before,
.quick-menu::after {
    box-sizing: content-box;
}

.quick-menu{
    position: fixed;
    top: 450px;
    left: 1300px;
    right: 0;
}

.quick-menu ::before {
    font-family: "Material Icons";
    font-size: 1.5em;
    float: left;
    clear: left;
}

.quick-menu label::before {
    content: "\e5d2";
}

.quick-menu li:nth-child(1) a::before {
    content: "\e88a";
}

.quick-menu li:nth-child(2) a::before {
    content: "\f02e";
}

.quick-menu li:nth-child(3) a::before {
    content: "\e8d6";
}

.quick-menu li:nth-child(4) a::before {
    content: "\e8cc";
}

.quick-menu li:nth-child(5) a::before {
    content: "\e87d";
}

.quick-menu li:nth-child(6) a::before {
    content: "\e8b8";
}

/* 체크박스 폼 요소 감춤 */
#expand-menu {
    display: none;
}

/* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.quick-menu {
    display: block;
    width: 60px;
    background-color: #ff9326;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
}

/*  */

.quick-menu:hover {
    width: 160px; /* Increased width on hover */
}

/*  */

.quick-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quick-menu a,
.quick-menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.quick-menu a:hover {
    color: #ff9326;
}
.quick-menu ul li:hover,
.quick-menu > label:hover {
    background-color: #fff;
    color: #ff9326;
    border-radius: 10px;
}
.quick-menu div {
    line-height: 1.5;
    text-align: center;
    font-size: 1em;
    font-family: "Noto Sans KR";
    padding: 0 0 0 10px; /* 아이콘과 텍스트 사이 여백 */
}

/* @media screen and (max-width: 1023px) {
  .menu {
    width: 60px;
  }
} */

@media screen and (max-width: 560px) {
    .quick-menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}

.quick-menu div {
    position: absolute; /* 절대 위치로 텍스트 고정 */
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: "Noto Sans KR";
    padding: 0 0 0 10px; /* 패딩 20p로 축소 */
}

.quick-menu #expand-menu:not(:checked) ~ ul {
    /* 데스크탑 화면에서도 메뉴를 접었더 펼칠 수 있음 */
    display: none;
}
