*{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.sidebar {
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: beige;
}

.body-container {
  flex-grow: 1;
  /*display: flex;*/
  /*justify-content: center;*/
  /*margin: 0 auto;*/
  width: 1200px;
}

.main-container {
  width: 1100px;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: pink; */
}

.work-container{
  width: 900px;
  margin: 0 auto;
}

/*  내가 한 곳 */

.star {
  position: relative;
  /*font-size: 2rem;*/
  color: #ddd;
  font: 3em Arial, Helvetica, sans-serif;
  font-family: 'Dongle', sans-serif;
  font-size: 70px;
  margin-left: 20px;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  /* cursor: pointer; */
  font-family: 'Dongle', sans-serif;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: gold;
  overflow: hidden;
  pointer-events: none;
  filter: drop-shadow(1px 1px 2px gold);
  font-family: 'Dongle', sans-serif;
}

/* .star-span{
  font-size: 100px;
} */

.company-file img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  /*border: 1px solid lightgray;*/
}

.consulting-comment-wrap{
  position: relative;
}

.consulting-comment{
  display: inline-block;
  font-size: 20px;
  margin-left: 25px;
  width: 600px;
  height: 50px;
  line-height: 50px;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-sub{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;

}

.ranking-wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.star-wrap{
  margin-bottom: -30px;
  /*width: 320px;*/
  /*  height: 150px;*/
  margin-top: -22px;
}

.review-consulting{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
  border-right: none;
  border-left: none;
}

.review-text-wrap{
  width: 900px;
}

.review-text{
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
}


.review-wrap{
  max-width: 875px;
  /* max-height: 400px; */
  border-color: #bbb;
  margin: 0px auto;
}

.summernote-text{
  width: 775px;
  padding-bottom: 15px;
}

.button-wrap{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.remove {
  margin-right: 10px;
  text-decoration: none;
  border-radius: 20px;
    width: 65px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    text-align: center; 
     background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);
}

.modify{
  margin-left: 10px;
  text-decoration: none;
  border-radius: 20px;
    width: 65px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(255, 139,38);
    color: #fff;
    border: 1px solid rgba(255, 139,38, 1);
}

.button-wrap{
  margin-bottom: 30px;
}

.review-date{
  text-align: right;
  width: 600px;
  padding: 10px 0;
  margin-left: 25px;
}

.review-wrap{
  display: none;
}

.blank{
  height: 50px;
}

/* 여기부터는 상품 리뷰 리스트 */
.review-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
  border-right: none;
  border-left: none;
}

.product-name-wrap{
  position: relative;
}

.product-name{
  display: inline-block;
  font-size: 20px;
  margin-left: 25px;
  width: 600px;
  height: 50px;
  line-height: 50px;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 이동탭 부분 */
.tab-wrap{
  display: flex;
  height: 50px;
  width: 900px;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(255, 139, 38);
}

.company-tab{
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 139, 38);
  border-bottom: none;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background: rgb(255, 139, 38);
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.shop-tab{
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 139, 38);
  border-bottom: none;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-left: 2px;
  font-size: 15px;
  color: rgb(255, 139, 38);
  font-weight: bold;
}

.line{
  border-bottom: 1px solid #c1c1c1;
}
