@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}

.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
}

.main-window{
    width: 100%;
    height: 100%;
    /* background-color: lightgray; */
}

.detailed-info-name-section{
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: coral; */
}

.detail-info-name{
    flex: 1;
    width: 100%;
    height: 90%;
    margin: 5px 5px 10px 5px;
    /* background-color: bisque; */
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.main-section{
    width: 100%;
    height: 1050px;
    /* background-color: greenyellow; */
    margin: 5px  5px 5px 0px;
}

.main-informaion-section{
    width: 100%;
    height: 30px;
    /* background-color: burlywood; */
    margin: 5px 5px 5px 0px;
    border-bottom: 1px solid #ddd;
}

.main-information{
    width: 50%;
    height: 30px;
    /* background-color: indianred; */
    display: flex;
    align-items: center;
}

.information1{
    position: relative;
    left: 5%;
}

.main-detailed-info-section{
    width: 100%;
    height: 890px;
    /* background-color: darkgrey; */
    position: relative;
    top: 5px;
}

.main-detailed-image-section{
    width: 100%;
    height: 280px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-detailed-image{
    width: 250px;
    height: 250px;
    /* background-color: coral; */
    border-radius: 15px;
}

.detailed-image{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.star-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.star{
    display: flex;
    justify-content: center;
    padding: 3px 0px 10px 0px;
    font-size: 25px;
    color: #ff9326;
}

.star-num{
    color: rgb(160, 160, 160);
    font-weight: bold;
}

.main-detailed-info{
    width: 100%;
    height: 220px;
    /* background-color: gainsboro; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed-info{
    width: 630px;
    height: 210px;
    /* background-color: bisque; */
}

.info1-section{
    width: 100%;
    height: 30px;
    /* background-color: sienna; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.info1-second-section{
    width: 20%;
    height: 30px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info1-third-section{
    width: 80%;
    height: 30px;
    /* background-color: lightskyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info2-section{
    width: 100%;
    height: 30px;
    /* background-color: darkkhaki; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info2-second-section{
    width: 20%;
    height: 30px;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info2-third-section{
    width: 80%;
    height: 30px;
    /* background-color: darkslategray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info3-section{
    width: 100%;
    height: 30px;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info3-second-section{
    width: 20%;
    height: 30px;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info3-third-section{
    width: 80%;
    height: 30px;
    /* background-color: indianred; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info4-section{
    width: 100%;
    height: 30px;
    /* background-color: deepskyblue; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info4-second-section{
    width: 20%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info4-third-section{
    width: 80%;
    height: 30px;
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info5-section{
    width: 100%;
    height: 30px;
    /* background-color: plum; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info5-second-section{
    width: 20%;
    height: 30px;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info5-third-section{
    width: 80%;
    height: 30px;
    /* background-color: slateblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info6-section{
    width: 100%;
    height: 30px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info6-second-section{
    width: 20%;
    height: 30px;
    /* background-color: forestgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info6-third-section{
    width: 80%;
    height: 30px;
    /* background-color: palegoldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info7-section{
    width: 100%;
    height: 30px;
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.info7-second-section{
    width: 20%;
    height: 30px;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.info7-third-section{
    width: 80%;
    height: 30px;
    /* background-color: lightsalmon; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-information-section{
    width: 100%;
    height: 405px;
    /* background-color: yellowgreen; */
}

.map-name-section{
    width: 100%;
    height: 30px;
    /* background-color: beige; */
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-name-detailed-section{
    width: 30%;
    height: 30px;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-section{
    width: 100%;
    height: 330px;
    /* background-color: lightpink; */
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-detailed-section{
    width: 70%;
    height: 330px;
    /* background-color: white; */
    border-radius: 15px;
}

.review-list-section-window{
    width: 100%;
    height: 590px;
    /* background-color: antiquewhite; */
}

.review-list-name-section{
    width: 100%;
    height: 25px;
    /* background-color: chocolate; */
    margin: 5px 5px 5px 0px;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.review-list-name{
    width: 50%;
    height: 25px;
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-list-section{
    width: 100%;
    height: 555px;
    /* background-color: darkkhaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-list-small-section{
    width: 95%;
    height: 200px;
    /* background-color: yellowgreen; */
    position: relative;
    /* top: 10px; */
    bottom: 50px;
}

.review-list-image-section{
    width: 100px;
    height: 100px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-list-asterion-section{
    width: 100%;
    height: 30px;
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.review-list-asterion{
    width: 20%;
    height: 100%;
    /* background-color: cornsilk; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.star_rating{
    font-size: 20px;
}

.on{
    text-decoration-line: none;
    color: #ff9326;
}

.asterion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-list-date-section{
    width: 30%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: right;
    align-items: center;
}

.review-list-image{
    width: 80%;
    height: 80%;
    /* background-color: yellowgreen; */
    border-radius: 50%;
}

.review-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.review-list-nickname-section{
    width: 100px;
    height: 50px;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
}

.review-list-nickname{
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-list-content-section{
    width: 735px;
    height: 150px;
    /* background-color: salmon; */
    position: relative;
    left: 110px;
    bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-list-content{
    width: 730px;
    height: 145px;
    /* background-color: beige; */
}

.review-list-small-section1{
    width: 95%;
    height: 200px;
    /* background-color: yellowgreen; */
    position: relative;
    /* top: 10px; */
    bottom: 40px;
}

.page-setting-button-section{
    width: 100%;
    height: 50px;
    /* background-color: chocolate; */
    position: relative;
    top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-setting-detailed-button-section{
    width: 15%;
    height: 50px;
    background-color: #ff9326;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    bottom: 85px;
}

.pagination > ul {
    display: flex;
    list-style: none;
}

.pagination a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #ff9326;
    border-color: #ff9326;
    color: #fff;
}

.pagination .active {
    background-color: #ff9326;
    border-color: #333;
    color: #fff;
}
