@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
    color: rgba(50, 50, 50, 0.9);
}
body {
    font-family: "Nanum Gothic", sans-serif;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}

.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
}

.main-window{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}

.list-name-section{
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: palevioletred; */
}

.list-name{
    flex: 1;
    width: 100%;
    height: 90%;
    margin: 5px 5px 10px 5px;
    /* background-color: bisque; */
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    align-items: center;
}

/* ==================리스트 이름 끝===================== */
/* ==================리스트 메인======================= */

.list-section{
    display: flex;
    width: 100%;
    height: 960px;
    margin: 5px  5px 5px 0px;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}

.list-info-section{
    width: 100%;
    height: 30px;
    /* margin: 5px 5px 5px 0px; */
    /* background-color: chocolate; */
    margin: 8px 0px;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 8px 0px;
}

.list-info{
    width: 50%;
    height: 30px;
    display: flex;
    /*align-items: center;*/
    /* background-color: beige; */
}

.info1{
    /* position: relative; */
    left: 5%;
}

.list-main-section{
    /* width: 100%; */
    /* height: 880px; */
    /* background-color: darkgray; */
    /* position: relative; */
    /* top: 5px; */

    display: flex;
    flex-direction: column;
    padding: 45px 10px;
    justify-content: center;
    align-items: center;
}

.list-main{
    display: flex;
    /* width: 700px; */
    justify-content: space-between;
    /* border: 1px solid rgb(160, 160, 160); */
    border-radius: 20px;
    margin-bottom: 30px;
}

.list-image-section{
    /* width: 35%; */
    /* height: 100%; */
    /* background-color: lemonchiffon; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius: 15px;
    border-top-left-radius: 15px; */
    width: 220px;
    height: 220px;
    margin-right: 20px;
}

.list-image{
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: cornflowerblue; */
    border-radius: 15px;
    width: 220px;
    height: 220px;
}

.image1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.list-comment-section{
    /* width: 65%; */
    height: 100%;
    /* background-color: greenyellow; */
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(210, 210, 210); */
    border-radius: 20px;
}

.list-comment:hover{
    border-color: rgb(255, 139, 38);
}


.list-comment{
    width: 550px;
    height: 220px;
    /* background-color: darkkhaki; */
    border-radius: 20px;
    border: 1px solid rgb(210, 210, 210);
}

.list-detailed{
    width: 10%;
    height: 100%;
    background-color: rgb(255, 139, 38);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed{
    position: relative;
    /* top: 85px; */
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.list-comment-name{
    width: 90%;
    height: 40px;
    position: relative;
    /* top: 18px; */
    /* background-color:  lightpink; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0px 0px 0px;
}

.name-list{
    font-size: 20px;
}

.star-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}

.star{
    display: flex;
    justify-content: center;
    padding: 3px 0px 10px 0px;
    font-size: 25px;
    color: #ff9326;
}

.star-num{
    color: rgb(160, 160, 160);
    font-weight: bold;
}

.minutely-information{
    width: 90%;
    height: 90px;
    /* background-color: hotpink; */
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.information1{
    width: 100%;
    height: 30px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.information2{
    width: 100%;
    height: 30px;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.information3{
    width: 100%;
    height: 30px;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-main2{
    width: 90%;
    height: 300px;
    /* background-color: coral; */
    display: flex;
    text-align: center;
    position: relative;
    left: 5%;
    top: 40px;
    border-radius: 15px;
}

/* .page-button-section{
  width: 100%;
  height: 55px;
  background-color: cornflowerblue;
  position: relative;
  top: 80px;
} */


/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    top: 80px;
}

.pagination > ul {
    display: flex;
    list-style: none;
}

.pagination a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: rgb(255, 87, 87);
    border-color: rgb(255, 87, 87);
    color: #fff;
}

.pagination .active {
    background-color: #FF6A00;
    border-color: #333;
    color: #fff;
}

