*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    /*color: rgba(50, 50, 50, 0.9);*/

}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}


.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
}

.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category-info-section{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: white;
}

.category-info{
    flex: 1;
    width: 100%;
    height: 90%;
    margin: 5px;
    background-color: white;
    border-bottom: 1px solid rgb(160, 160, 160);
    display: flex;
    align-items: center;
}

.category-choose{
    margin-left: 10px;
}

.category-section{
    display: flex;
    width: 100%;
    height: 530px;
    margin: 5px 5px 5px 0px;
    background-color: white;
    position: relative;
    top: 30px;
}

.first-category{
    width: 31%;
    height: 480px;
    margin: 5px 5px 5px 15px;
    background-color: white;
    position: relative;
    top: 17px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 15px;
    /* cursor: pointer; */
    justify-content: space-evenly;
    padding-bottom: 22px;
}

.first-category:hover .first-category-button{
    background: rgba(255, 139, 38, 1);
    border: 1px solid rgb(255, 139, 38);
    color: rgb(255, 255, 255);
}
.first-category:hover {
    border: 2px solid rgb(255, 139, 38);
}

.second-category{
    width: 31%;
    height: 480px;
    margin: 5px 5px 5px 10px;
    background-color: white;
    position: relative;
    top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 15px;
    /* cursor: pointer; */
    justify-content: space-evenly;
    padding-bottom: 22px;
}

.second-category:hover .second-category-button{
    background: rgba(255, 139, 38, 1);
    border: 1px solid rgb(255, 139, 38);
    color: rgb(255, 255, 255);
}
.second-category:hover {
    border: 2px solid rgb(255, 139, 38);
}

.third-category{
    width: 31%;
    height: 480px;
    margin: 5px 5px 5px 10px;
    background-color: white;
    position: relative;
    top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 15px;
    /* cursor: pointer; */
    justify-content: space-evenly;
    padding-bottom: 22px;
}

.third-category:hover .third-category-button{
    background: rgba(255, 139, 38, 1);
    border: 1px solid rgb(255, 139, 38);
    color: rgb(255, 255, 255);
}
.third-category:hover {
    border: 2px solid rgb(255, 139, 38);
}



/* ==============첫 번째 선택 창============================= */

.hospital-img{
    width: 210px;
    height: 210px;
    text-align: center;
}

.img1{
    width: 200px;
    height: 200px;
    text-align: center;
}

.first-category-name{
    width: 80%;
    height: 50px;
    margin: 5px auto;
    display: flex;
    position: relative;
    top: -22px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.name1{
    font-size: 30px;
    font-weight: bold;
}

.first-category-info{
    width: 80%;
    height: 40px;
    margin: 5px auto;
    background-color: white;
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
    align-items: center;
}

.info1{
    font-size: 20px;
    font-weight: 600;
}

.first-category-button{
    width: 50%;
    height: 30px;
    margin: 5px auto;
    position: relative;

    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: rgb(255, 139, 38);
    border: 1px solid rgb(255, 139, 38);
    font-weight: 600;
}

/* .first-category-button:hover{
  background: rgba(255, 139, 38, 0.8);
  border: 1px solid rgb(255, 139, 38);
  color: rgb(255, 255, 255);
} */


.button1{
    text-decoration: none;
    cursor: pointer;
    text-decoration-color: black;
}

/* ==============첫 번째 선택 창 끝========================== */
/* ==============두 번째 선택 창============================ */

.trainer-img{
    width: 210px;
    height: 210px;
    text-align: center;
}

.img2{
    width: 200px;
    height: 200px;
    text-align: center;
}

.second-category-name{
    width: 80%;
    height: 50px;
    margin: 5px auto;
    display: flex;
    position: relative;
    top: -22px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.name2{
    font-size: 30px;
    font-weight: bold;
}

.second-category-info{
    width: 80%;
    height: 40px;
    margin: 5px auto;
    background-color: white;
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
    align-items: center;
}

.info2{
    font-size: 20px;
    font-weight: 600;
}

.second-category-button{
    width: 50%;
    height: 30px;
    margin: 5px auto;
    position: relative;
    /* top: 40px; */
    /* border: 1px solid;
    border-color: rgb(160, 160, 160); */
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* bottom: 20px; */
    color: rgb(255, 139, 38);
    border: 1px solid rgb(255, 139, 38);
    font-weight: 600;
}

/* .second-category-button:hover{
  background: rgba(255, 139, 38, 1);
  border: 1px solid rgb(255, 139, 38);
  color: rgb(255, 255, 255);
} */

/* =====================두 번째 선택 창 끝====================== */
/* =====================세 번째 선택 창======================== */

.dietitian-img{
    width: 210px;
    height: 210px;
    text-align: center;
    position: relative;
    top: 13px;
}

.img3{
    width: 180px;
    height: 180px;
    text-align: center;
}

.third-category-name{
    width: 80%;
    height: 50px;
    margin: 5px auto;
    display: flex;
    position: relative;
    top: -22px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.name3{
    font-size: 30px;
    font-weight: bold;
}

.third-category-info{
    width: 80%;
    height: 40px;
    margin: 5px auto;
    background-color: white;
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
    align-items: center;
}

.info3{
    font-size: 20px;
    font-weight: 600;
}

.third-category-button{
    width: 50%;
    height: 30px;
    margin: 5px auto;
    position: relative;
    /* top: 5px; */
    /* border: 1px solid;
    border-color: rgb(160, 160, 160); */
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* bottom: 20px; */
    color: rgb(255, 139, 38);
    border: 1px solid rgb(255, 139, 38);
    font-weight: 600;
}

/* .third-category-button:hover{
  background: rgba(255, 139, 38, 1);
  border: 1px solid rgb(255, 139, 38);
  color: rgb(255, 255, 255);
} */

/* 이미지 색상 변경 */
.img1, .img2, .img3{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(80, 80, 80));
}