@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}

.work-container,
.work-container *,
.work-container::before,
.work-container::after {
    box-sizing: content-box;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}


.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}




.ConsultReadAll{
    text-align: center;
}

.title{
    font-size: 30px;
    padding: 0px 7px;
}



/* 이름 전체 묶은거*/
.Name-wrap {
    display: flex;
    justify-content: center;
}
/* 날짜 전체 묶은거 */
.date-wrap{
    display: flex;
    justify-content: center;
}


.content-writer{
    padding:  0 10px 0px 10px;
}

.content-date{
    padding:  0 10px 0px 10px;
}


.info-title {
    display: flex;
    justify-content: space-between;
}

/* 작성자 글씨 진함 */
.view-info .writer  {
    font-weight: bold;
}
/* 날짜 글씨 진함 */
.view-info .date{
    font-weight: bold;
}
/* 버튼 스타일 */
.List-group {
    text-align: right;
    margin-top: 30px;

}

.List-group :hover{
    background-color:rgba(255, 139,38, 1);
    border: 1px solid rgba(255, 139,38, 1);
    color: rgb(255, 255,255);
}


.List-btn  {
    border-radius: 20px;
    width: 65px;
    height: 35px;
    /* padding: 15px 20px ; 텍스트와 버튼 사이의 여백 조정 */
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    /* background: rgba(255, 139, 38, 0.8);
     border: 1px solid rgb(255, 139, 38); */
    background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);
}













/* 답변 보내기 만의 bottom 줄 표시 */
.OnlyThisH1{
    padding: 0 0 10px 0;
    border-bottom: 3px solid #ff9326;
    font-size: 30px;

}

/* 제목 css들 */
.WrapAll h1{
    height: 46px;
    padding-top: 36px;
    font-family: NEXON Lv1 Gothic;
    font-size: 30px;
    color: #333;
    font-weight: 400;
}


.info-title{
    padding: 15px;
    border-bottom: 3px solid #ff9326;
}

/* 답변보내는 칸  */
.inputTextArea{
    width: 95%;
    height: 200px;
    padding: 12px 19px;
    font-size: 20px;
    line-height: 1.65;
    vertical-align: top;
    background-color: #fff;
    border: 5px solid #e5e5e5;
    resize: none;
    box-sizing: border-box;
    border-radius: 20px;
}

/* 취소와 보내기 전체  */
.CommentSend-btn{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;

}


/* 보내기 */
.Send-btn{
    background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);

}

/* 보내기 세부  */
.Send-btn {
    border-radius: 25px;
    width: 90px;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}




.CommentSend-btn :hover{
    background-color:rgba(255, 139,38, 1);
    border: 1px solid rgba(255, 139,38, 1);
    color: rgb(255, 255,255);
}






/* 내용 왼쪽부터 시작하고 위의 선 3px이고 패딩설정한거임 */
.get-content{
    text-align: left;
    /* border-top: 3px solid  #ff9326; */
    padding: 15px;
}






/* 댓글 스타일 */

/* 보내기 , 작성하는곳 마진 주는거임. */
.comment-form {
    margin : 10px 0 50px 0;
}
/* 글 작성 크기임. */
.comment-form textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* 답변 보내기 버튼임 */
.comment-form button {
    background-color: #fff;
    color: rgb(255, 139,38);
    /* border: 1px solid rgba(255, 139,38, 1); */
    /* margin-top: 10px; */
}

.comment-form button:hover {
    background-color:rgba(255, 139,38, 1);
    border: 1px solid rgba(255, 139,38, 1);
    color: rgb(255, 255,255);

}

.form-group>label {
    margin-right: 10px;
    font-size: 12px;
}

#comment-list {
    list-style: none;
}

.comment-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.comment-writer {
    font-weight: bold;
}

.comment-date {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
}

.comment-content {
    margin-top: 5px;
}

.comment-list li {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-info {
    font-size: 14px;
    color: #999;
}

.comment-info .writer {
    margin-right: 10px;
}

.comment-content p {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
    margin-top: 10px;
    white-space: normal;
    max-width: 700px;
    word-wrap: break-word;
}

.comment-content-wrap{
    display : flex;
    justify-content: space-between;
}
/* 수정 . 삭제 버튼  */
.comment-btn-group button {
    border-radius: 20px;
    width: 65px;
    height: 35px;
    /* font-size: 14px; */
    /* font-weight: 700; */
    /* text-align: center; */
    /* text-decoration: none; */
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);
}

.comment-btn-group button:hover{
    background-color:rgba(255, 139,38, 1);
    border: 1px solid rgba(255, 139,38, 1);
    color: rgb(255, 255,255);
}

.none{
    display : none;
}

.comment-list textarea {
    width: 900px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}




       /* 모달 */

   .modal {
       /*display: none;*/
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgba(0, 0, 0, 0.4);
   }

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 1000px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-header {
    padding: 0 20px 0 20px;
    margin-top: 15px;
}

.modal-header h2{

}


.day-img-box {
    width: 450px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
}

.day-img-box img {
    width: 450px;
    height: 450px;
    border-radius: 8px;
    object-fit: cover;
}

.modal-main {
    display: flex;
    justify-content: space-around;
}

.day-detail {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.day-detail1 {
    display: flex;
    margin-bottom: 20px;
}

.day-detail2 {
    display: flex;
    flex-direction: column;
}

.meal-time {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 30px;
    width: 60px;
    border: 1px solid #ff7b00;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.meal-time-checked {
    background-color: #ff9326;
    color: white;
}

.day-food-detail {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.day-food-name {
    width: 50%;
}

.day-detail3 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    float: right;
    font-size: 30px;
}

.day-detail3 h2 {
    margin-right: 15px;
}

.detail3-kcal {
    color: #ff7b00;
}

.slider {
    position: relative;
    /*margin: 0 auto;*/
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type="radio"] {
    display: none;
}

ul.imgs {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.imgs li {
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type="radio"]:nth-child(1):checked ~ .bullets > label:nth-child(1) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(2):checked ~ .bullets > label:nth-child(2) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(3):checked ~ .bullets > label:nth-child(3) {
    background-color: #fff;
}
.slider input[type="radio"]:nth-child(4):checked ~ .bullets > label:nth-child(4) {
    background-color: #fff;
}

.slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.slider input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.modal-hidden {
    display: none;
}

.day-detail4{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.day-detail4 div{
    margin-left: 15px;
    padding:10px;
    background-color: #ff9326;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
