@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    color: rgba(50, 50, 50, 0.9);
}

.work-container,
.work-container *,
.work-container::before,
.work-container::after {
    box-sizing: content-box;
}

.body-container {
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    width: 1200px;
}


.main-container {
    width: 1100px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.work-container{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}



/* 받은 컨설팅 메세지 */
.H2Z{
    height: 56px;
    padding-top: 36px;
    font-family: NEXON Lv1 Gothic;
    font-size: 30px;
    color: #333;
    font-weight: 400;
}

/** <!-- 새로운 컨설팅 , 읽은 컨설팅 메세지 --> */
.tab {
    position: relative;
    height: 90px;
    overflow: hidden;

}

.tab ul {
    height: 50px;
    overflow: hidden;
    padding: 0px;
}

#BoxTab{
    border-bottom: 1px solid rgb(255, 139, 38);
}


/* 밑줄 선 */
.tab ul {
    box-shadow: inset 0 -1px 0 0 rgb(255, 139, 38);
}


/* 새로 신청받은 리스트룰 누르면 여기에 active 클래스를 주어서
색이 주황색으로 만들었고
, 컨설팅 완료한 리스트 를 누르면 여기에 active 클래스를 주어
주황색으로 바꾸는 코드
*/
.tab .active-tab a {

    background-color: #fff;
    /* color: rgb(255, 139,38); */
    /* border: 1px solid rgba(255, 139,38, 1); */
    height: 34px;
    /* border: 2px solid #afafaf; */
    border-bottom: 0;
    background-color: rgba(255, 139,38, 1);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: #fff;
    font-weight: bold;

}


/* 신청, 완료한 리스트탭의 위치 왼쪽으로 마진 -`1준거 */
.tab li {
    position: relative;
    float: left;
    margin-right: 3px;
    list-style: none;
}


/* 새로 신청받은 , 컨설팅 완료한 리스트 글자 */
.tab a {
    display: block;
    min-width: 146px;
    height: 33px;
    padding: 15px 15px 0;
    /* color: #999; */
    font-size: 15px;
    text-align: center;
    border: 2px solid rgb(255, 139, 38);
    /* border-bottom: 0; */
    background-color: #fff;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: rgb(255, 139, 38);
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 139, 38);
}

.tab a:hover{
    color: rgb(255, 139, 38);
}

.tab .active-tab a:hover{
    color: #fff;
}

/* a태그 hover */
a, a:hover {
    color: #666;
    text-decoration: none;
}



.CsGroup{
    text-align: right;
}

/* 보관 삭제의 hover 마우스 가져다 올리면 주황으로 바뀜 */
.CsModify:hover{

    background-color: rgb(250, 125, 0);
    border-color: rgb(250, 125, 0);
    color: #fff;
}

/* .CsDelete:hover{

  background-color: rgb(250, 125, 0);
  border-color: rgb(250, 125, 0);
  color: #fff;

} */

/* 보관 */
.CsModify{

    border-radius: 20px;
    width: 60px;
    height: 35px;
    padding: 8px 14px 0 ;
    height: 28px;
    color: #999;
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);

}

/* 삭제 */
.CsDelete{

    border-radius: 20px;
    width: 60px;
    height: 35px;
    padding: 8px 14px 0 ;
    height: 28px;
    color: #999;
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}


/* checkbox , 이름  , 제목 , 받은날짜의 너비를 정하는거  */
colgroup {
    display: table-column-group;
}

col.name{
    width: 150px;
}

col.date{
    width: 126px;
}




/*제목 글자수 너무 많으면 ... 으로 보이게 만드는 css */
.content p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* 이 값을 원하는 너비로 설정하십시오. */
}

.ModalInContent #modal-contents {
    display: inline-block;
    white-space: normal; /* normal은 자동 줄바꿈을 허용합니다 */
    /* overflow: hidden; */ /* 이 줄을 제거하거나 주석 처리 */
    /* text-overflow: ellipsis; */ /* 이 줄을 제거하거나 주석 처리 */
    max-width: 90%;
    word-wrap: break-word; /* 단어를 강제로 줄바꿈할 수 있게 해줍니다 */
}



/*

.inputCheck input:checked+label {
  background-position: 5px -558px;
} */




/* 전체 테이블 100% 꽉차게 */
div.list table {
    width: 100%;
    border-spacing: 0;
    user-select: none;
}

/* list안에 있는 글씨 크기. */
div.list {
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #cfcfcf;
    font-size: 14px;
}
/* 고정된 이름 ,제목 ,받은날짜  구역 세로길이*/


/*  테이블 헤더셀  색상 굵기 */
thead th {
    color: #333;
    font-weight: 400;
    background-color: #f9f9f9;
}

/* 체크박스의 너비 */
div.list .inputCheck1 {
    width: 9px;
}

.inputCheck1, .inputRadio {
    position: relative;
    display: inline-block;
    min-width: 19px;
    height: 19px;
    user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}


/* 헤더테이블 행의 높이 각각 게시물의 높이라 생각하면됨 */
thead tr {
    height: 49px;

}

/* 헤더 제외한 tbody에 있는 tr 행들임 */
tbody tr{
    height: 50px;
    color: #afafaf;
    padding-top: 16px;
    text-align: center;
}

tbody a{
    height: 50px;
    color: #afafaf;
    padding-top: 16px;
    text-align: center;
}

/* th의 바텀 선 */
/* .tbList th{
  border-bottom: 2px solid #999;
} */







.page_wrap {
    text-align:center;
    font-size:0;
    margin-top: 50px;
}
.page_nation {
    display:inline-block;
}
.page_nation .none {
    display:none;
}
.page_nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
    border-radius: 10px;
}


.page_nation .arrow {
    border:1px solid #ccc;
}


.page_nation .pprev {
    background:#fff url('../../img/leftTwo.png') no-repeat center center;
    margin-left:0;
}
.page_nation .prev {
    background:#fff url('../../img/leftOne.png') no-repeat center center;
    margin-right:7px;
}
.page_nation .next {
    background:#fff url('../../img/rightOne.png') no-repeat center center;
    margin-left:7px;
}
.page_nation .nnext {
    background:#fff url('../../img/rightTwo.png') no-repeat center center;
    margin-right:0;
}
.page_nation a.active {
    background-color:#ff9326;
    color:#fff;
    border:1px solid #e2e4e9;
}














/* 메세지 읽음 심볼 css */
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}



h3{
    padding-bottom: 10px;
}





.modal {
    display: none;
    position: fixed;
    /* z-index: 1; */
    /* left: 0; */
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: #fefefe;
    margin: 50px 0 0 300px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 83%;
    border-radius: 20px;
}

.close {
    color:#ff9326;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content div {
    margin-bottom: 10px;
}

#modalSubmit {
    padding: 8px 12px;
    background-color: #fff;
    color: rgb(255, 139,38);
    border: 1px solid rgba(255, 139,38, 1);
    border-radius: 20px;
    cursor: pointer;
    float: right; /* 오른쪽으로 배치 */
    margin-top: 10px; /* 상단 여백 조정 */

}

#modalSubmit:hover {
    background-color: rgb(250, 125, 0);
    border-color: rgb(250, 125, 0);
    color: #fff;
}

#modalSubmit:active {
    background-color: #ff9326;
}



/* Modal 텍스트 에리어 너비  */



/* 모달 제목 부분  */
h1#modal-title {
    margin-bottom: 15px;
    border-bottom: 3px solid #ff9326;
    padding: 0 0 15px;
    font-weight: bold;}


h3{
    padding: 20px;
    font-weight: bold;
}