<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aside</title>
    </head>
    <body id="body-pd">
    <aside class="aside" th:fragment="aside">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                        <a href="#" class="nav__logo">manu</a>
                    </div>
                    <div class="nav__list">
                        <a th:href="@{/user/index}" class="nav__link active">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">메인화면</span>
                        </a>

                        <div  class="nav__link collapsed">
                            <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                            <a th:href="@{/admin/adminMain}" class="nav_name" style="color: white">
                                관리자 메인</a>


                        </div>

                        <div href="#" class="nav__link collapsed">
                            <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">회원 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <li><a th:href="@{/admin/userList}" class="collapse__sublink">일반 회원</a></li>
                                <li><a th:href="@{/admin/companyList}" class="collapse__sublink">기업 회원</a></li>
                            </ul>
                        </div>


                        <div href="#" class="nav__link collapsed">
                            <ion-icon name="bag-handle-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">상품 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <li><a th:href="@{/admin/registProduct}" class="collapse__sublink">상품 등록</a></li>
                                <li><a th:href="@{/admin/productList}" class="collapse__sublink">상품 목록</a></li>
                            </ul>
                        </div>

                        <div href="#" class="nav__link collapsed">
                            <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                            <a th:href="@{/admin/orderList}" class="nav_name" style="color: white">주문 관리</a>


                        </div>

                        <a th:href="@{/user/userOrCompanyUpdate}" class="nav__link">
                            <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">개인정보설정</span>
                        </a>
                    </div>
                    <a th:href="@{/user/logout}" class="nav__link">
                        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">로그아웃</span>
                    </a>
                </div>
            </nav>
        </div>
    </aside>
    </body>
</html>
