<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>반응형 사이드바 메뉴</title>
        <link rel="stylesheet" href="../css/quickmanubar.css" />
    </head>
    <body>
    <aside class="aside2" th:fragment="aside2">
        <div class="menu">
            <label for="expand-menu"><div>메뉴</div></label>
            <input type="checkbox" id="expand-menu" name="expand-menu" />
            <ul>
                <li>
                    <a href="#" class="item"><div>메인</div></a>
                </li>
                <li>
                    <a href="#" class="item"><div>마이페이지</div></a>
                </li>
                <li>
                    <a href="#" class="item"><div>통계</div></a>
                </li>
                <li>
                    <a href="#" class="item"><div>쇼핑</div></a>
                </li>
                <li>
                    <a href="#" class="item"><div>받은쪽지함</div></a>
                </li>
                <li>
                    <a href="#" class="item"><div>설정</div></a>
                </li>
            </ul>
        </div>
    </aside>
    </body>
</html>
