<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 헤더 추가 공간 -->
    <div class="body-container">
      <!-- 사이드바 추가 공간 -->
      <div class="sidebar">
        <p>사이드바자리</p>
      </div>
      <!-- 사이드바 추가 공간 -->
      <div class="main-container">
        <!-- 작업공간 -->
        <p>작업하세요</p>
        <!-- 작업공간 -->
      </div>
    </div>
    <!-- 퀵 메뉴 추가 공간 -->
    <!-- 푸터 추가 공간 -->
  </body>
</html>
