<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>header</title>
        <link rel="stylesheet" href="../../../../../../../../Web2/workspace/css/header2.css" />
    </head>
    <body>
        <div class="header-container">
            <!-- 로그인/회원가입/로그아웃 -->
            <div class="login-container">
                <div class="login-box">
                    <ul>
                        <li>
                            <a href="">로그인</a>
                        </li>
                        <li>
                            <a href="">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="logo-container">
                <div class="logo-box">
                    <!-- 메인페이지로 이동처리 -->
                    <a href="#">
                        <!-- 로고 img -->
                        <img src="../../../../../../../../Web2/workspace/img/mealMeLogo.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
