<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘 하루</title>
    <link rel="stylesheet" th:href="@{/css/chart/today.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside.css}" />
    <!-- 폰트 연결 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- 아이콘 연결 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />

    <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  
  </head>
  <body id="body-pd">
    <!-- 헤더 추가 공간 -->
    <div class="body-container">
      <!-- 사이드바 추가 공간 -->
      <aside class="aside" th:replace="fragment/aside :: aside"></aside>
      <!-- 사이드바 추가 공간 -->
      <div class="main-container">
          <header class="header2" th:replace="fragment/header2 :: header2"></header>
        <!-- 작업공간 -->

        <div class="work-container">
        <p>

          <div class="all-wrap">


          <div class="text-wrap">

          <div class="title">오늘 하루</div>
          <div class="goal-wrap">
<!--            <div class="goal">✨ 나의 목표</div>-->
<!--            <div class="goal-content"></div>-->
          </div>

          <div class="today-kcal-wrap">
            <div class="today-kcal">섭취/표준 칼로리</div>
            <div class="today-kcal-num-wrap">
              <div class="today-kcal-num"></div>
              <div class="today-kcal-wrap-sub">
              <div class="today-kcal-slide">/</div>
              <div class="today-kcal-total"></div>
              <div class="today-kcal-unit">kcal</div>
            </div>
          </div>
          </div>

          <div class="kcal-comment-wrap">
          <div class="kcal-comment">표준 칼로리의
          <div class="kcal-comment-percent">0</div>
          <div class="kcal-comment-percent-icon">%</div>를 섭취했어요👏
        </div>
        <div class="kcal-comment-bar"><span class="kcal-comment-bar-span"></span></div>
          </div>
          <div class="day-meal-part">

            <div class="breakfast-wrap">
              <div class="meal-icon"><span class="material-symbols-outlined meal-icon-span">
                wb_twilight
                </span></div>

                <div class="breakfast-wrap-sub">
              <div>아침</div>
              <div class="breakfast-num-wrap">
              <div class="breakfast-kcal-num">0</div>
              <div>kcal</div>
            </div>
          </div>
            </div>

              <div class="lunch-wrap">
                <div class="meal-icon"><span class="material-symbols-outlined meal-icon-span">
                  sunny
                  </span></div>
                  <div class="lunch-wrap-sub">
                <div>점심</div>
                <div class="lunch-num-wrap">
                <div class="lunch-kcal-num">0</div>
                <div>kcal</div>
              </div>
              </div>
              </div>

              <div class="dinner-wrap">
                <div class="meal-icon"><span class="material-symbols-outlined meal-icon-span">
                  dark_mode
                  </span></div>
                  <div class="dinner-wrap-sub">
                <div>저녁</div>
                <div class="dinner-num-wrap">
                <div class="dinner-kcal-num">0</div>
                <div>kcal</div>
              </div>
              </div>
              </div>

              <div class="snack-wrap">
                <div class="meal-icon"><span class="material-symbols-outlined meal-icon-span">
                  icecream
                  </span></div>
                  <div class="snack-wrap-sub">
                <div>간식</div>
                <div class="snack-num-wrap">
                <div class="snack-kcal-num">0</div>
                <div>kcal</div>
              </div>
              </div>
              </div>

          </div>


          </div>



          <div class="today-food-wrap">
            <div class="today-food-tab">

              <div class="today-food-photo-text">
                <span class="material-symbols-outlined img">
                image
                </span>
                <div class="img-text">사진</div>
              </div>


              <div class="today-food-chart-text">
                <span class="material-symbols-outlined chart">
                insert_chart
                </span>
                <div class="chart-text">차트</div>
              </div>

            </div>


            <div class="today-food-chart-wrap">
              <!-- today-food-photo는 여기에 재우 내용 복붙 -->


              
              <div class="today-date">
                <input type="text" id="datepicker">
              </div>


              <!-- 이미지 전체 -->
              <div class="photo-all-wrap">


                <div>
                    <ul class="meal-img-list">



<!--                        <li class="meal-img-box" th:each="meal : mealList" th:data-board-number="${meal.boardNumber}">-->
<!--                            <div class="meal-img">-->
<!--                                <div class="imgbox" >-->
<!--                                    <img th:src="@{/img/sample1.jpg}"  alt="" />-->
<!--                                </div>-->
<!--                                <div class="meal-info">-->
<!--                                    <div class="meal-eat-time">-->
<!--                                        <h2 th:text="${meal.mealTime}">08:00</h2>-->
<!--                                    </div>-->
<!--                                    <div class="meal-eat-kcal">-->
<!--                                        <h2 th:text="${meal.mealTotalKcal}">380kcal</h2>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->



                    </ul>
              </div>




                  <!-- 모달창 -->
                  <div id="myModal" class="modal modal-hidden">
                      <div class="modal-content">
                          <span class="close" id="close-modal">&times;</span>
                          <div class="modal-container">
                          </div>
                      </div>
                  </div>
                  <!--                                모달창끝-->

              </div>



              <!-- 차트 전체 -->
              <div class="chart-all-wrap">

              <div class="doughnut-chart-wrap">
                <div class="doughnut-chart-size">
                <canvas id="doughnut-chart" width="300" height="250"></canvas>
              </div>
  
              
              <div class="nutrient-percent">
                <div class="carbohydrate-percent-wrap">
                  <div class="carbohydrate-percent-color"></div>
                  <div class="carbohydrate-percent-sub">
                  <div class="carbohydrate-percent">탄수화물</div>
                  <div class="carbohydrate-percent-num-wrap">
                  <div class="carbohydrate-percent-num">0</div>
                  <div class="carbohydrate-percent-num-icon">%</div>
                </div>
              </div>
                </div>
              <div class="protein-percent-wrap">
                  <div class="protein-percent-color"></div>

                  <div class="protein-percent-sub">
                  <div class="protein-percent">단백질</div>
                  <div class="protein-percent-num-wrap">
                  <div class="protein-percent-num">0</div>
                  <div class="protein-percent-num-icon">%</div>
                </div>
                </div>
                </div>
              <div class="fat-percent-wrap">
                  <div class="fat-percent-color"></div>
                  <div class="fat-percent-sub">
                  <div class="fat-percent">지방</div>
                  <div class="fat-percent-num-wrap">
                  <div class="fat-percent-num">0</div>
                  <div class="fat-percent-num-icon">%</div>
                </div>
                </div>
                </div>
                <div class="percent-comment">칼로리에 따른 탄소화물ㆍ단백질ㆍ지방의 비율</div>
              </div>


              </div>


              <!-- 탄단지 그람수 받는 곳 -->
              <div class="nutrient-gram">
                
                <div class="carbohydrate-gram-wrap">
                <div>탄수화물</div>
                <div class="carbohydrate-gram-bar">
                  <div class="graph1"><span class="graph1-span"></span></div>
                </div>
                
                <div class="carbohydrate-gram">
<!--                <div>100</div>-->
<!--                <div>/</div>-->
<!--                <div>228</div>-->
<!--                <div>g</div>-->
              </div>
              </div>


              <div class="protein-gram-wrap">
                <div>단백질</div>
                <div class="protein-gram-bar">
                  <div class="graph2"><span class="graph2-span"></span></div>
                </div>

                <div class="protein-gram">
<!--                <div>60</div>-->
<!--                <div>/</div>-->
<!--                <div>137</div>-->
<!--                <div>g</div>-->
              </div>

              </div>

              <div class="fat-gram-wrap">
                <div>지방</div>
                <div class="fat-gram-bar">
                  <div class="graph3"><span class="graph3-span"></span></div>
                </div>

                <div class="fat-gram">
<!--                <div>10</div>-->
<!--                <div>/</div>-->
<!--                <div>40</div>-->
<!--                <div>g</div>-->
              </div>

              </div>


              </div>


            <!-- </div> -->






    
            



  
  
              






            <div class="nutrient-list">
              <div class="nutrient-list-sub">
                  <!-- <div class="nutrient-info">평균 영양정보</div> -->
                  <canvas id="nutrient-chart" width="300" height="230"></canvas>

                  
                
              </div>


            </div>


          </div>



<!--        </div>-->
      </div>
            <!-- 차트 전체 감싸기 끝 -->
          </div>







          </div>
          
       
        
        </div>


        </p>
    </div>
        <!-- 작업공간 -->
    <footer class="footer2" th:replace="fragment/footer2 :: footer2"></footer>
      </div>
    </div>

    <aside class="aside2" th:replace="fragment/aside2 :: aside2">
      <div class="menu-container"></div>
    </aside>
    <!-- 퀵 메뉴 추가 공간 -->
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/js/fragment/aside.js}"></script>

    <!-- datepicker 연결 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- datepicker 꾸미기-->
    <script type="text/javascript" th:src="@{/js/chart/jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/chart/jquery-ui.css}"/>
    <!-- chart_js 연결 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <script th:inline="javascript">
      let loginNumber = [[${session.userNumber}]];
    </script>
    <script type="module" th:src="@{/js/chart/today.js}"></script>
    <script>
        var images = [];
        var currentImageIndex = 0;

        function openModal(imageList) {
            images = imageList;

        }
    </script>
  </body>
</html>