<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/findPassword.css" />
    </head>
    <body>
        <header id="headers"></header>
        <div class="find-password-container">
            <div class="find-password-box">
                <div class="find-password-text">
                    <h1>비밀번호찾기</h1>
                    <p>보안을 위해 비밀번호를 변경하거나 비밀번호를 잊어버린 경우 재설정할 수 있습니다.</p>
                </div>
                <form method="" action="" id="login-form">
                    <!-- 개인/기업 선택 -->
                    <div class="radio-group">
                        <input type="radio" id="individual" name="userType" value="individual" checked /><label
                            for="individual"
                            >개인</label
                        >
                        <input type="radio" id="corporate" name="userType" value="corporate" /><label for="corporate"
                            >기업</label
                        >
                    </div>
                    <input type="text" name="userName" placeholder="아이디" />
                    <input type="text" name="userName" placeholder="이름" />
                    <input type="text" name="userName" placeholder="핸드폰번호" />
                    <div class="find-password"></div>
                    <input type="submit" value="찾기" class="submit-btn" />
                </form>
            </div>
        </div>
        <footer id="footers"></footer>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#headers").load("./header.html");
                $("#footers").load("./footer.html");
            });
        </script>
    </body>
</html>
