<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header1.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer1.css}" />
    <link rel="stylesheet" th:href="@{/css/user/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside2.css}" />
      <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap}"/>
      <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
  <header class="header1" th:replace="fragment/header1 :: header1"></header>
  <div class="main-container">
      <div class="banner-container">
          <div class="banner-box">
              <img th:src="@{/img/banner.png}" alt="">
          </div>
      </div>
<!--      <div class="write-container">-->
<!--          <div class="write-box">-->
<!--              <div class="write-info">-->
<!--                  글쓰기 설명-->
<!--              </div>-->
<!--              <div class="write-img-box">-->
<!--                  <img src="" alt="">-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
      <div class="chart-container">
          <div class="chart-box">
              <div class="chart-img-box">
                  <img th:src="@{/img/chartApi.png}" alt="" />
              </div>
              <div class="chart-info">
                  <h2>
                      <div class="chart-info-text1"> 먹은식사, 권장칼로리를 반영해</div>
                      <br />
                      <span class="chart-info-text2">칼로리와 영양소 섭취량</span>을
                      <br />
                      바로 알려드려요.
                  </h2>
                  <a href="@{/chart/today}">
                      <div class="chart-btn">차트로 식단 분석하기</div>
                  </a>
              </div>
          </div>
      </div>
      <div class="chart-explain">
          <div class="chart-explain-header">
              <h2>
                  맞춤 식단,
                  <br />
                  이제는 꼭 해야 하는 이유
              </h2>
              <div class="chart-sub-title">
                  <div class="chart-line"></div>
                  <h4>무작정 굶는 다이어트는 멈춰야 합니다</h4>
                  <div class="chart-line"></div>
              </div>
          </div>
          <div class="chart-explain-img-container">
              <div class="chart-img-box1">
                  <img
                          src="https://dl8439a2el04c.cloudfront.net/static/image/landing/landing_necessity_top.svg"
                          alt=""
                  />
              </div>
              <div class="chart-img-box2">
                  <img
                          src="https://dl8439a2el04c.cloudfront.net/static/image/landing/landing_necessity_bottom.svg"
                          alt=""
                  />
              </div>
          </div>
      </div>

      <div class="consulting-container">
          <div class="consulting-img-box">
              <img src="/img/indexConsulting.png" alt="" />
          </div>
      </div>
      <div class="shop-container">
          <div class="shop-box">
              <div class="shop-info">
                  <div class="shop-info-header">내가 직접 선택 가능한 식단</div>
                  <h3>
                      내 입맞에 맞춰
                      <br />
                      원하는 상품으로 주문해요
                  </h3>
                  <p>
                      먹고 있거나 추천받은 음식 중에서 바꾸고 싶은 음식이 있나요? 밀미의 다양한 상품 중에서 비슷한
                      영양성분의 다른 상품으로 변경 할 수 있어요.
                  </p>
                  <a th:href="@{/shop/shoppingList}">
                      <div class="chart-btn">쇼핑몰 바로가기</div>
                  </a>
              </div>
              <div class="shop-img">
                  <img src="https://dl8439a2el04c.cloudfront.net/static/image/landing/changeable_diet.gif" />
              </div>
          </div>
      </div>
      <div class="ride-container">
          <img src="https://dl8439a2el04c.cloudfront.net/static/image/landing/landing_delivery_big.png" />
      </div>
  </div>
<!--  <aside class="aside2" th:replace="fragment/aside2 :: aside2">-->
<!--      <div class="menu-container"></div>-->
<!--  </aside>-->
  <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
  <footer class="footer1" th:replace="fragment/footer1 :: footer1"></footer>
  </body>
</html>
