<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user or company</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header1.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer1.css}" />
    <link rel="stylesheet" th:href="@{/css/user/userOrCompany.css}" />
  </head>
  <body>
  <header class="header1" th:replace="fragment/header1 :: header1"></header>
  <div class="select-container">
      <div class="join-info">
        <h1>회원가입</h1>
        <p>
          회원 종류에 따라 회원가입 절차가 다릅니다. <hr>고객님께서 해당하는 유형을
          선택하여 회원가입을 진행해 주시기 바랍니다.
        </p>
      </div>
      <div class="select-box">
        <div class="individual select border">
          <div class="icon-box">
            <div class="icon">
              <img th:src="@{/img/user.png}" alt="" />
            </div>
          </div>
          <div class="text-box">
            <h1 class="text1">일반회원</h1>
            <h3 class="text2">14세 이상 개인</h3>
            <a th:href="@{/user/userJoin}" class="join-btn">가입하기</a>
          </div>
        </div>
        <div class="coporate select">
          <div class="icon-box">
            <div class="icon">
              <img th:src="@{/img/building.png}" alt="" />
            </div>
          </div>
          <div class="text-box">
            <h1 class="text1">기업회원</h1>
            <h3 class="text2">사업자 및 기타 단체</h3>
            <a th:href="@{/user/companyJoin}" class="join-btn">가입하기</a>
          </div>
        </div>
      </div>
    </div>
  <footer class="footer1" th:replace="fragment/footer1 :: footer1"></footer>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </body>
</html>
