<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>에러 페이지</title>
  <link rel="stylesheet" th:href="@{/css/error/error.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
</head>
<body>
<div class="container">
  <div class="error-container">
    <div class="logo-container">
      <div class="logo-box">
        <!-- 메인페이지로 이동처리 -->
        <a th:href="@{/user/index}">
          <!-- 로고 img -->
          <img th:src="@{/img/mealMeLogo.png}" alt="" />
        </a>
      </div>
    </div>
    <h1>잘못된 접근입니다.</h1>
    <p>아래 버튼을 눌러 로그인 페이지나 메인 페이지로 이동하세요.</p>
    <div class="button">
      <a href="/user/login">로그인</a>
      <a href="/user/index">메인 페이지</a>
    </div>
  </div>
</div>
</body>
</html>