<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/myPage.css" />
    </head>
    <body>
        <!-- 헤더 추가 공간 -->
        <div class="body-container">
            <!-- 사이드바 추가 공간 -->
            <div class="sidebar">
                <p>사이드바자리</p>
            </div>
            <!-- 사이드바 추가 공간 -->
            <div class="main-container">
                <!-- 작업공간 -->
                <div class="service-name-container">
                    <div class="service-name-box">
                        <h1>마이페이지</h1>
                    </div>
                </div>
                <hr class="service-name-hr" />
                <div class="user-info">
                    <div class="user-profile-img-container">
                        <div class="user-profile-img-box">
                            <img src="../img/profileimg.png" alt="" />
                        </div>
                    </div>
                    <div class="user-data-container">
                        <div class="user-data-box">
                            <div class="user-info1-column">
                                <div class="user-info1-count"><h3>2</h3></div>
                                <div class="data-title">게시물</div>
                            </div>
                            <div class="user-info1-column">
                                <div class="user-info1-count"><h3>2</h3></div>
                                <div class="data-title">구매횟수</div>
                            </div>
                            <div class="user-info1-column">
                                <div class="user-info1-count"><h3>2</h3></div>
                                <div class="data-title">리뷰</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-info2">
                    <div class="user-info2-box">
                        <div class="name"><h2>이름</h2></div>
                        <div class="nickname"><h2>닉네임</h2></div>
                        <div class="comment"><h3>유저 한줄 소개 입니다.</h3></div>
                    </div>
                </div>
                <div class="service-name-container">
                    <div class="service-name-box">
                        <h1>나의식단</h1>
                    </div>
                </div>
                <hr class="service-name-hr" />
                <!-- 식단 리스트 뽑기 -->
                <ul class="meal-list-container">
                    <!-- 반복해야하는 구간 -->
                    <li class="meal-list-oneday">
                        <div class="meal-list-info">
                            <div class="eat-date"><h2>6월 15일</h2></div>
                            <div class="eat-kcal"><h2>1,249kcal</h2></div>
                            <div class="eat-list-view-btn">
                                <img src="../img/chevron_right_FILL0_wght400_GRAD0_opsz48.png" alt="" />
                            </div>
                        </div>
                        <!-- 하루 식단 리스트 뽑기 -->
                        <ul class="meal-img-list">
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample1.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample2.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample3.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample4.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample5.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample6.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                        </ul>
                    </li>
                    <!-- 반복해야하는 구간 -->
                </ul>

                <ul class="meal-list-container">
                    <!-- 반복해야하는 구간 -->
                    <li class="meal-list-oneday">
                        <div class="meal-list-info">
                            <div class="eat-date"><h2>6월 15일</h2></div>
                            <div class="eat-kcal"><h2>1,249kcal</h2></div>
                            <div class="eat-list-view-btn">
                                <img src="../img/chevron_right_FILL0_wght400_GRAD0_opsz48.png" alt="" />
                            </div>
                        </div>
                        <!-- 하루 식단 리스트 뽑기 -->
                        <ul class="meal-img-list">
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/sample7.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                        </ul>
                    </li>
                    <!-- 반복해야하는 구간 -->
                </ul>

                <ul class="meal-list-container">
                    <!-- 반복해야하는 구간 -->
                    <li class="meal-list-oneday">
                        <div class="meal-list-info">
                            <div class="eat-date"><h2>6월 15일</h2></div>
                            <div class="eat-kcal"><h2>1,249kcal</h2></div>
                            <div class="eat-list-view-btn">
                                <img src="../img/chevron_right_FILL0_wght400_GRAD0_opsz48.png" alt="" />
                            </div>
                        </div>
                        <!-- 하루 식단 리스트 뽑기 -->
                        <ul class="meal-img-list">
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <li class="meal-img-box">
                                <!-- 백그라운드로 주어야함 -->
                                <div class="meal-img">
                                    <div class="imgbox">
                                        <a href="">
                                            <img src="../img/ramen.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="meal-info">
                                        <div class="meal-eat-time"><h2>08:00</h2></div>
                                        <div class="meal-eat-kcal"><h2>380kcal</h2></div>
                                    </div>
                                </div>
                            </li>
                            <!-- 반복해야하는 구간 (하루 먹은 식단) -->
                        </ul>
                    </li>
                    <!-- 반복해야하는 구간 -->
                </ul>

                <!-- 작업공간 -->
            </div>
        </div>
        <!-- 퀵 메뉴 추가 공간 -->
        <!-- 푸터 추가 공간 -->
    </body>
</html>
