<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.AdminMapper">
    <select id="selectAll" resultType="userDto">
        SELECT USER_NUMBER, USER_NAME, USER_BIRTH, USER_ID, USER_GENDER, USER_PHONE_NUMBER, USER_ADDRESS1, USER_EMAIL, USER_JOIN_DATE
        FROM TBL_USER
    </select>

    <select id="searchUser"  resultType="userDto">
        SELECT USER_NUMBER, USER_NAME, USER_BIRTH, USER_ID, USER_GENDER, USER_PHONE_NUMBER, USER_ADDRESS1, USER_EMAIL, USER_JOIN_DATE
        FROM TBL_USER where 1 = 1
        <if test="searchType != ''">
        <if test="searchType eq 'name'">
            and USER_NAME like '%'|| #{keyword}|| '%'
        </if>
        <if test="searchType eq 'id'">
            and USER_ID like '%'|| #{keyword}|| '%'
        </if>
        <if test="searchType eq 'email'">
            and USER_EMAIL like '%'|| #{keyword}|| '%'
        </if>
        </if>

    </select>

    <insert id="insert">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_GENDER, USER_PHONE_NUMBER,
        USER_ADDRESS_NUMBER, USER_ADDRESS1, USER_ADDRESS2, USER_ADDRESS3, USER_EMAIL, USER_BIRTH)
        VALUES (#{userNumber}, #{userId}, #{userPassword}, #{userName}, #{userNickname}, #{userGender}, #{userPhoneNumber},
        #{userAddressNumber}, #{userAddress1}, #{userAddress2}, #{userAddress3}, #{userEmail}, #{userBirth})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}

    </delete>
</mapper>
