<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.ChartMapper">

    <select id="selectUserInfo" resultType="UserDto">
        SELECT USER_NUMBER, TO_CHAR(USER_BIRTH, 'YYYY-MM-DD') AS USER_BIRTH, USER_HEIGHT, USER_GENDER, USER_WEIGHT, USER_COMMENT FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>
    
    <select id="selectFoodInfo" resultType="FoodVo">
        SELECT  TBL_BOARD.BOARD_NUMBER, TBL_BOARD.USER_NUMBER,TBL_BOARD.MEAL_TIME,
                TBL_FOOD.FOOD_NUMBER, TBL_FOOD.FOOD_NAME, TBL_FOOD.FOOD_WEIGHT, TBL_FOOD.FOOD_SERVING,
                TBL_FOOD.FOOD_KCAL, TBL_FOOD.FOOD_CARBOHYDRATE, TBL_FOOD.FOOD_PROTEIN, TBL_FOOD.FOOD_FAT, TBL_FOOD.FOOD_SUGARS,
                TBL_FOOD.FOOD_SODIUM, TBL_FOOD.FOOD_CHOLESTEROL, TBL_FOOD.FOOD_FATTY_ACID, TBL_FOOD.FOOD_TRANS_FAT,
                TBL_MEAL_CODE.MEAL_CODE_NUMBER, TBL_MEAL_CODE.MEAL_NAME,
                TBL_BOARD_FILE.FILE_NUMBER, TBL_BOARD_FILE.FILE_NAME, TBL_BOARD_FILE.FILE_UPLOAD_PATH, TBL_BOARD_FILE.FILE_UUID
        FROM TBL_FOOD
                 JOIN TBL_BOARD ON TBL_FOOD.BOARD_NUMBER = TBL_BOARD.BOARD_NUMBER
                 JOIN TBL_MEAL_CODE ON TBL_BOARD.MEAL_CODE_NUMBER = TBL_MEAL_CODE.MEAL_CODE_NUMBER
                 LEFT JOIN TBL_BOARD_FILE ON TBL_BOARD.BOARD_NUMBER = TBL_BOARD_FILE.BOARD_NUMBER
        WHERE TBL_BOARD.USER_NUMBER = #{userNumber} AND TRUNC(TBL_BOARD.MEAL_TIME) = TO_DATE(#{mealTime})
    </select>

    <select id="selectDaily" resultType="DailyTotalVo">
        SELECT TO_CHAR(TB.MEAL_TIME, 'YYYY-MM-DD') AS MEAL_DATE,
               SUM(FOOD_KCAL) AS TOTAL_FOOD_KCAL,
               SUM(FOOD_CARBOHYDRATE) AS TOTAL_FOOD_CARBOHYDRATE,
               SUM(FOOD_PROTEIN) AS TOTAL_FOOD_PROTEIN,
               SUM(FOOD_FAT) AS TOTAL_FOOD_FAT,
               SUM(FOOD_SUGARS) AS TOTAL_FOOD_SUGARS,
               SUM(FOOD_SODIUM) AS TOTAL_FOOD_SODIUM,
               SUM(FOOD_CHOLESTEROL) AS TOTAL_FOOD_CHOLESTEROL,
               SUM(FOOD_FATTY_ACID) AS TOTAL_FOOD_FATTY_ACID,
               SUM(FOOD_TRANS_FAT) AS TOTAL_FOOD_TRANS_FAT
        FROM TBL_FOOD TF JOIN TBL_BOARD TB
                              ON TF.BOARD_NUMBER = TB.BOARD_NUMBER
        WHERE USER_NUMBER = #{userNumber} AND TB.MEAL_TIME BETWEEN sysdate - 6 AND sysdate
        GROUP BY TO_CHAR(TB.MEAL_TIME, 'YYYY-MM-DD')
        ORDER BY TO_CHAR(TB.MEAL_TIME, 'YYYY-MM-DD') DESC
    </select>

    <select id="selectWeekly" resultType="DailyTotalVo">
        SELECT TO_CHAR(TRUNC(TB.MEAL_TIME, 'IW'), 'YYYY-MM-DD') AS MEAL_DATE,
        COUNT(DISTINCT TO_CHAR(TB.MEAL_TIME, 'YYYY-MM-DD')) AS COUNT_MEAL_TIME,
        SUM(FOOD_KCAL) AS TOTAL_FOOD_KCAL,
        SUM(FOOD_CARBOHYDRATE) AS TOTAL_FOOD_CARBOHYDRATE,
        SUM(FOOD_PROTEIN) AS TOTAL_FOOD_PROTEIN,
        SUM(FOOD_FAT) AS TOTAL_FOOD_FAT,
        SUM(FOOD_SUGARS) AS TOTAL_FOOD_SUGARS,
        SUM(FOOD_SODIUM) AS TOTAL_FOOD_SODIUM,
        SUM(FOOD_CHOLESTEROL) AS TOTAL_FOOD_CHOLESTEROL,
        SUM(FOOD_FATTY_ACID) AS TOTAL_FOOD_FATTY_ACID,
        SUM(FOOD_TRANS_FAT) AS TOTAL_FOOD_TRANS_FAT
        FROM TBL_FOOD TF
        JOIN TBL_BOARD TB ON TF.BOARD_NUMBER = TB.BOARD_NUMBER
        WHERE USER_NUMBER = #{userNumber}
        AND <![CDATA[
              (
        (TB.MEAL_TIME >= TRUNC(CURRENT_TIMESTAMP, 'IW') - INTERVAL '28' DAY AND TB.MEAL_TIME < TRUNC(CURRENT_TIMESTAMP, 'IW'))
        OR TB.MEAL_TIME > TRUNC(CURRENT_TIMESTAMP, 'IW')
        )
        ]]>
        GROUP BY TRUNC(TB.MEAL_TIME, 'IW')
        ORDER BY TRUNC(TB.MEAL_TIME, 'IW') DESC
    </select>

    <select id="selectMonthly" resultType="DailyTotalVo">
        SELECT TO_CHAR(TRUNC(TB.MEAL_TIME, 'MM'), 'YYYY-MM') AS MEAL_DATE,
               COUNT(DISTINCT TO_CHAR(TB.MEAL_TIME, 'YYYY-MM-DD')) AS COUNT_MEAL_TIME,
               SUM(FOOD_KCAL) AS TOTAL_FOOD_KCAL,
               SUM(FOOD_CARBOHYDRATE) AS TOTAL_FOOD_CARBOHYDRATE,
               SUM(FOOD_PROTEIN) AS TOTAL_FOOD_PROTEIN,
               SUM(FOOD_FAT) AS TOTAL_FOOD_FAT,
               SUM(FOOD_SUGARS) AS TOTAL_FOOD_SUGARS,
               SUM(FOOD_SODIUM) AS TOTAL_FOOD_SODIUM,
               SUM(FOOD_CHOLESTEROL) AS TOTAL_FOOD_CHOLESTEROL,
               SUM(FOOD_FATTY_ACID) AS TOTAL_FOOD_FATTY_ACID,
               SUM(FOOD_TRANS_FAT) AS TOTAL_FOOD_TRANS_FAT
        FROM TBL_FOOD TF
                 JOIN TBL_BOARD TB ON TF.BOARD_NUMBER = TB.BOARD_NUMBER
        WHERE USER_NUMBER = #{userNumber}
          AND (TB.MEAL_TIME >= TRUNC(CURRENT_TIMESTAMP, 'MM') - INTERVAL '6' MONTH)
        GROUP BY TRUNC(TB.MEAL_TIME, 'MM')
        ORDER BY TRUNC(TB.MEAL_TIME, 'MM') DESC
    </select>




</mapper>