<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.ConsultingMapper">


    <insert id="insert" parameterType="sendConsultingVo">
        <selectKey keyProperty="consultingNumber" order="BEFORE" resultType="long">
            SELECT SEQ_CONSULTING.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_CONSULTING (CONSULTING_NUMBER, COMPANY_NUMBER, USER_NUMBER, CONSULTING_COMMENT, CONSULTING_DATE,CONSULTING_REQUEST_NUMBER)
        VALUES (#{consultingNumber}, #{companyNumber}, #{userNumber}, #{consultingComment},SYSDATE,#{consultingRequestNumber})
    </insert>

    <select id="select" parameterType="long" resultType="sendConsultingVo">
        SELECT C.CONSULTING_NUMBER, C.COMPANY_NUMBER, C.USER_NUMBER, C.CONSULTING_COMMENT, U.USER_NICKNAME, CO.COMPANY_NAME
        FROM TBL_CONSULTING C
                 JOIN TBL_USER U ON C.USER_NUMBER = U.USER_NUMBER
                 JOIN TBL_COMPANY CO ON C.COMPANY_NUMBER = CO.COMPANY_NUMBER
        WHERE CONSULTING_NUMBER=#{consultingNumber}
    </select>

    <select id="selectAll" parameterType="map" resultType="sendConsultingVo">
        SELECT CONSULTING_NUMBER, COMPANY_NUMBER, USER_NUMBER, CONSULTING_COMMENT, CONSULTING_DATE, USER_NICKNAME, COMPANY_NAME, CONSULTING_REQUEST_NUMBER
        FROM (
                 SELECT ROWNUM AS RNUM, CONSULTING_NUMBER, COMPANY_NUMBER, USER_NUMBER, CONSULTING_COMMENT, CONSULTING_REQUEST_NUMBER, CONSULTING_DATE, USER_NICKNAME, COMPANY_NAME
                 FROM (
                          SELECT C.CONSULTING_NUMBER, C.COMPANY_NUMBER, C.USER_NUMBER, C.CONSULTING_COMMENT
                               ,C.CONSULTING_DATE,C.CONSULTING_REQUEST_NUMBER, U.USER_NICKNAME, CO.COMPANY_NAME
                          FROM TBL_CONSULTING C
                                   JOIN TBL_USER U ON C.USER_NUMBER = U.USER_NUMBER
                                   JOIN TBL_COMPANY CO ON C.COMPANY_NUMBER = CO.COMPANY_NUMBER
                          WHERE C.CONSULTING_REQUEST_NUMBER = #{consultingRequestNumber}
                          ORDER BY C.CONSULTING_NUMBER DESC
                      )
            <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
            )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>





    <select id="selectRequestAll" parameterType="long"  resultType="consultingRequestVo">
        SELECT R.CONSULTING_REQUEST_NUMBER, R.USER_NUMBER, R.COMPANY_NUMBER, R.CONSULTING_REQUEST_COMMENT,
               R.CONSULTING_REQUEST_FIRST_DATE, R.CONSULTING_REQUEST_LAST_DATE,
               R.CONSULTING_REQUEST_DATE, R.CONSULTING_CONDITION, U.USER_NICKNAME, CO.COMPANY_NAME
        FROM TBL_CONSULTING_REQUEST R
                 JOIN TBL_USER U ON R.USER_NUMBER = U.USER_NUMBER
                 JOIN TBL_COMPANY CO ON R.COMPANY_NUMBER = CO.COMPANY_NUMBER
        WHERE R.COMPANY_NUMBER = ${companyNumber}
        ORDER BY R.CONSULTING_REQUEST_DATE DESC

    </select>


    <select id="findConditionOneUser" parameterType="long" resultType="consultingRequestVo">
    SELECT R.CONSULTING_REQUEST_NUMBER, R.USER_NUMBER, R.COMPANY_NUMBER, R.CONSULTING_REQUEST_COMMENT,
    R.CONSULTING_REQUEST_FIRST_DATE, R.CONSULTING_REQUEST_LAST_DATE,
    R.CONSULTING_REQUEST_DATE, R.CONSULTING_CONDITION, U.USER_NICKNAME, CO.COMPANY_NAME
    FROM TBL_CONSULTING_REQUEST R
    JOIN TBL_USER U ON R.USER_NUMBER = U.USER_NUMBER
    JOIN TBL_COMPANY CO ON R.COMPANY_NUMBER = CO.COMPANY_NUMBER
    WHERE R.COMPANY_NUMBER = #{companyNumber} AND (R.CONSULTING_CONDITION = 1 OR R.CONSULTING_CONDITION = 2)
    ORDER BY R.CONSULTING_REQUEST_DATE DESC
    </select>





    <select id="selectAllUser" parameterType="map" resultType="consultingRequestVo">
        SELECT CONSULTING_REQUEST_NUMBER, USER_NUMBER, COMPANY_NUMBER, CONSULTING_REQUEST_COMMENT,
               CONSULTING_REQUEST_FIRST_DATE, CONSULTING_REQUEST_LAST_DATE,
               CONSULTING_REQUEST_DATE, CONSULTING_CONDITION, USER_NICKNAME, COMPANY_NAME
        FROM (
                 SELECT ROWNUM AS RNUM, CONSULTING_REQUEST_NUMBER, USER_NUMBER, COMPANY_NUMBER,
                        CONSULTING_REQUEST_COMMENT, CONSULTING_REQUEST_FIRST_DATE, CONSULTING_REQUEST_LAST_DATE,
                        CONSULTING_REQUEST_DATE, CONSULTING_CONDITION, USER_NICKNAME, COMPANY_NAME
                 FROM (
                          SELECT R.CONSULTING_REQUEST_NUMBER, R.USER_NUMBER, R.COMPANY_NUMBER, R.CONSULTING_REQUEST_COMMENT,
                                 R.CONSULTING_REQUEST_FIRST_DATE, R.CONSULTING_REQUEST_LAST_DATE,
                                 R.CONSULTING_REQUEST_DATE, R.CONSULTING_CONDITION, U.USER_NICKNAME, CO.COMPANY_NAME
                          FROM TBL_CONSULTING_REQUEST R
                                   JOIN TBL_USER U ON R.USER_NUMBER = U.USER_NUMBER
                                   JOIN TBL_COMPANY CO ON R.COMPANY_NUMBER = CO.COMPANY_NUMBER
                          WHERE R.USER_NUMBER = #{userNumber}
                          ORDER BY R.CONSULTING_REQUEST_DATE DESC
                      )
                  <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
    ]]>
)
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

<!--    <select id="selectAllUser" parameterType="long"  resultType="consultingRequestVo">-->
<!--        SELECT R.CONSULTING_REQUEST_NUMBER, R.USER_NUMBER, R.COMPANY_NUMBER, R.CONSULTING_REQUEST_COMMENT,-->
<!--               R.CONSULTING_REQUEST_FIRST_DATE, R.CONSULTING_REQUEST_LAST_DATE,-->
<!--               R.CONSULTING_REQUEST_DATE, R.CONSULTING_CONDITION, U.USER_NICKNAME, CO.COMPANY_NAME-->
<!--        FROM TBL_CONSULTING_REQUEST R-->
<!--                 JOIN TBL_USER U ON R.USER_NUMBER = U.USER_NUMBER-->
<!--                 JOIN TBL_COMPANY CO ON R.COMPANY_NUMBER = CO.COMPANY_NUMBER-->
<!--        WHERE R.USER_NUMBER = ${userNumber}-->
<!--    </select>-->



    <select id="selectRequestOne" parameterType="long" resultType="consultingRequestVo">
        SELECT CONSULTING_REQUEST_NUMBER, U.USER_NUMBER, COMPANY_NUMBER, CONSULTING_REQUEST_COMMENT,
               TO_CHAR(CONSULTING_REQUEST_FIRST_DATE, 'YYYY-MM-DD') AS CONSULTING_REQUEST_FIRST_DATE,
               TO_CHAR(CONSULTING_REQUEST_LAST_DATE, 'YYYY-MM-DD') AS  CONSULTING_REQUEST_LAST_DATE,
               CONSULTING_REQUEST_DATE, CONSULTING_CONDITION, U.USER_NICKNAME
        FROM TBL_CONSULTING_REQUEST CR
        JOIN TBL_USER U ON CR.USER_NUMBER = U.USER_NUMBER
                WHERE CONSULTING_REQUEST_NUMBER = ${consultingRequestNumber}
    </select>


    <!--    컨설팅 신청 읽기 페이지 식단 가져온느 쿼리-->

    <select id="getMealList" resultType="mealVo">
        SELECT B.BOARD_NUMBER, B.USER_NUMBER, TO_CHAR(B.MEAL_TIME, 'YYYY-MM-DD') AS MEAL_DATE,
               TO_CHAR(B.MEAL_TIME, 'HH24:MI') AS MEAL_TIME,
               BF.FILE_NUMBER, BF.FILE_NAME, BF.FILE_UPLOAD_PATH, BF.FILE_UUID,
               F.MEAL_TOTAL_KCAL
        FROM TBL_BOARD B
                 LEFT JOIN TBL_BOARD_FILE BF ON B.BOARD_NUMBER = BF.BOARD_NUMBER
                 LEFT JOIN (
            SELECT BOARD_NUMBER, SUM(FOOD_KCAL) AS MEAL_TOTAL_KCAL
            FROM TBL_FOOD
            GROUP BY BOARD_NUMBER
        ) F ON B.BOARD_NUMBER = F.BOARD_NUMBER
        WHERE B.USER_NUMBER = #{userNumber} AND MEAL_TIME BETWEEN #{consultingRequestFirstDate} AND #{consultingRequestLastDate}
        ORDER BY MEAL_DATE, MEAL_TIME
    </select>











<!--&#45;&#45;                 <select id="selectAll" resultType="consultingVo">-->
<!--&#45;&#45;         SELECT C.CONSULTING_NUMBER, C.COMPANY_NUMBER, C.USER_NUMBER, C.CONSULTING_COMMENT,C.CONSULTING_DATE, U.USER_NICKNAME, CO.COMPANY_NAME-->
<!--&#45;&#45;         FROM TBL_CONSULTING C-->
<!--&#45;&#45;                  JOIN TBL_USER U ON C.USER_NUMBER = U.USER_NUMBER-->
<!--&#45;&#45;                  JOIN TBL_COMPANY CO ON C.COMPANY_NUMBER = CO.COMPANY_NUMBER-->
<!--&#45;&#45;         ORDER BY C.CONSULTING_NUMBER DESC-->
<!--&#45;&#45;             </select>-->



    <select id="selectComment" parameterType="long" resultType="sendConsultingVo">
        SELECT CONSULTING_COMMENT
            FROM TBL_CONSULTING
            WHERE CONSULTING_NUMBER=#{consultingNumber}
    </select>


    <update id="updateCondition">
        UPDATE TBL_CONSULTING_REQUEST
        SET CONSULTING_CONDITION=#{consultingCondition}
        WHERE CONSULTING_REQUEST_NUMBER=#{consultingRequestNumber}
    </update>




   <select id="selectTotal" resultType="_int">
       SELECT COUNT(CONSULTING_REQUEST_NUMBER) FROM TBL_CONSULTING_REQUEST
   </select>

    <update id="update">
        UPDATE TBL_CONSULTING
        SET CONSULTING_COMMENT = #{consultingComment}
        WHERE CONSULTING_NUMBER=#{consultingNumber}
    </update>


    <delete id="delete" >
        DELETE FROM TBL_CONSULTING
        WHERE CONSULTING_NUMBER=#{consultingNumber}
    </delete>




            </mapper>