<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.MealMapper">
    <select id="userInfo" resultType="userInfoVo">
        SELECT
            U.USER_NUMBER, U.USER_NAME, U.USER_NICKNAME, U.USER_COMMENT,
            COALESCE(CF.CONSULTING_REQUEST_COUNT, 0) AS CONSULTING_REQUEST_COUNT,
            COALESCE(O.ORDER_COUNT, 0) AS ORDER_COUNT,
            COALESCE(B.BOARD_COUNT, 0) AS BOARD_COUNT,
            TUF.FILE_NUMBER, TUF.FILE_NAME, TUF.FILE_UPLOAD_PATH, TUF.FILE_UUID
        FROM
            TBL_USER U
                LEFT JOIN TBL_USER_FILE TUF ON U.USER_NUMBER = TUF.USER_NUMBER
                LEFT JOIN (
                SELECT USER_NUMBER, COUNT(CONSULTING_REQUEST_NUMBER) AS CONSULTING_REQUEST_COUNT
                FROM TBL_CONSULTING_REQUEST
                WHERE USER_NUMBER = #{userNumber}
                GROUP BY USER_NUMBER
            ) CF ON U.USER_NUMBER = CF.USER_NUMBER
                LEFT JOIN (
                SELECT USER_NUMBER, COUNT(ORDER_NUMBER) AS ORDER_COUNT
                FROM TBL_ORDER
                WHERE USER_NUMBER = #{userNumber}
                GROUP BY USER_NUMBER
            ) O ON U.USER_NUMBER = O.USER_NUMBER
                LEFT JOIN (
                SELECT USER_NUMBER, COUNT(BOARD_NUMBER) AS BOARD_COUNT
                FROM TBL_BOARD
                WHERE USER_NUMBER = #{userNumber}
                GROUP BY USER_NUMBER
            ) B ON U.USER_NUMBER = B.USER_NUMBER
        WHERE
            U.USER_NUMBER = #{userNumber}
    </select>

    <select id="getMealList" resultType="mealVo">
        SELECT
            B.BOARD_NUMBER,
            B.USER_NUMBER,
            TO_CHAR(B.MEAL_TIME, 'YYYY-MM-DD') AS MEAL_DATE,
            TO_CHAR(B.MEAL_TIME, 'HH24:MI') AS MEAL_TIME,
            BF.FILE_NUMBER,
            BF.FILE_NAME,
            BF.FILE_UPLOAD_PATH,
            BF.FILE_UUID,
            F.MEAL_TOTAL_KCAL
        FROM
            TBL_BOARD B
                LEFT JOIN
            (
                SELECT
                    FILE_NUMBER,
                    FILE_UPLOAD_PATH,
                    FILE_UUID,
                    FILE_NAME,
                    BOARD_NUMBER,
                    RANK() OVER (PARTITION BY BOARD_NUMBER ORDER BY FILE_NUMBER) RK
                FROM
                    TBL_BOARD_FILE F
            ) BF ON B.BOARD_NUMBER = BF.BOARD_NUMBER AND BF.RK = 1
                LEFT JOIN
            (
                SELECT
                    BOARD_NUMBER,
                    SUM(FOOD_KCAL) AS MEAL_TOTAL_KCAL
                FROM
                    TBL_FOOD
                GROUP BY
                    BOARD_NUMBER
            ) F ON B.BOARD_NUMBER = F.BOARD_NUMBER
        WHERE
            B.USER_NUMBER = #{userNumber}
        ORDER BY
            MEAL_DATE,
            MEAL_TIME
    </select>

    <select id="getMeal" resultType="readMealVo">
        SELECT BOARD_NUMBER, MEAL_CODE_NUMBER, USER_NUMBER, BOARD_TITLE,
               TO_CHAR(MEAL_TIME, 'YY"년 "MM"월 "DD"일 "HH24"시 "MI"분 "') AS MEAL_TIME,
               BOARD_CONTENT, BOARD_REGISTER_DATE
        FROM TBL_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <select id="getFoods" resultType="foodDto">
        SELECT * FROM TBL_FOOD
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <select id="getFiles" resultType="boardFileDto">
        SELECT * FROM TBL_BOARD_FILE
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>


    <insert id="insertBoard">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_BOARD (BOARD_NUMBER, MEAL_CODE_NUMBER, USER_NUMBER, BOARD_TITLE,
                               BOARD_CONTENT, MEAL_TIME)
        values (#{boardNumber}, #{mealCodeNumber}, #{userNumber}, #{boardTitle}, #{boardContent}, TO_DATE(#{mealTime}, 'YYYY-MM-DD"T"HH24:MI'))
    </insert>

    <delete id="deleteBoard">
        delete
        from TBL_BOARD
        where BOARD_NUMBER = #{boardNumber}
    </delete>

    <insert id="insertFood">
        <selectKey keyProperty="foodNumber" order="BEFORE" resultType="long">
            SELECT SEQ_FOOD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_FOOD (
        FOOD_NUMBER, BOARD_NUMBER, FOOD_NAME, FOOD_WEIGHT, FOOD_SERVING, FOOD_KCAL, FOOD_CARBOHYDRATE,
        FOOD_PROTEIN, FOOD_FAT, FOOD_SUGARS, FOOD_SODIUM, FOOD_CHOLESTEROL, FOOD_FATTY_ACID,
        FOOD_TRANS_FAT)
        VALUES (
        #{foodNumber}, #{boardNumber}, #{foodName}, #{foodWeight}, #{foodServing}, #{foodKcal}, #{foodCarbohydrate},
        #{foodProtein}, #{foodFat}, #{foodSugars}, #{foodSodium}, #{foodCholesterol}, #{foodFattyAcid},
        #{foodTransFat})
    </insert>

</mapper>