<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.ReviewMapper">
    <select id="selectConsultingInfo" resultType="ConsultingReviewVo">
        SELECT CQ.CONSULTING_REQUEST_NUMBER, CQ.USER_NUMBER, CQ.COMPANY_NUMBER, CQ.CONSULTING_REQUEST_DATE, C.CONSULTING_COMMENT,
               CF.FILE_NAME, CF.FILE_UPLOAD_PATH
        FROM TBL_CONSULTING_REQUEST CQ JOIN TBL_CONSULTING C
        ON CQ.CONSULTING_REQUEST_NUMBER = C.CONSULTING_REQUEST_NUMBER
        LEFT JOIN TBL_COMPANY_FILE CF
        ON CQ.COMPANY_NUMBER = CF.COMPANY_NUMBER
        WHERE C.CONSULTING_REQUEST_NUMBER = #{consultingRequestNumber}
    </select>

    <insert id="insertConsultingReview">
        <selectKey keyProperty="reviewNumber" order="BEFORE" resultType="long">
            SELECT SEQ_CONSULTING_REVIEW.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_CONSULTING_REVIEW (REVIEW_NUMBER, CONSULTING_REQUEST_NUMBER, USER_NUMBER, COMPANY_NUMBER, REVIEW_DATE,
        REVIEW_CONTENT, REVIEW_GRADE)
        VALUES (#{reviewNumber}, #{consultingRequestNumber}, #{userNumber}, #{companyNumber}, SYSDATE, #{reviewContent}, #{reviewGrade})
    </insert>

    <select id="selectConsultingList" resultType="ConsultingReviewVo">
        SELECT CQ.CONSULTING_REQUEST_NUMBER, CQ.USER_NUMBER, CQ.COMPANY_NUMBER,CR.REVIEW_NUMBER,
               CQ.CONSULTING_REQUEST_DATE ,C.CONSULTING_COMMENT,
               CF.FILE_NAME, CF.FILE_UPLOAD_PATH, CR.REVIEW_DATE, CR.REVIEW_CONTENT, CR.REVIEW_GRADE
        FROM TBL_CONSULTING_REQUEST CQ JOIN TBL_CONSULTING C
        ON CQ.CONSULTING_REQUEST_NUMBER = C.CONSULTING_REQUEST_NUMBER
        LEFT JOIN TBL_COMPANY_FILE CF
        ON CQ.COMPANY_NUMBER = CF.COMPANY_NUMBER
        JOIN TBL_CONSULTING_REVIEW CR
        ON CQ.CONSULTING_REQUEST_NUMBER = CR.CONSULTING_REQUEST_NUMBER
        WHERE C.USER_NUMBER = #{userNumber}
        ORDER BY CQ.CONSULTING_REQUEST_DATE DESC
    </select>



    <select id="selectConsultingReviewInfo" resultType="ConsultingReviewVo">
        SELECT CQ.CONSULTING_REQUEST_NUMBER, CQ.USER_NUMBER, CQ.COMPANY_NUMBER, CR.REVIEW_NUMBER,
               CQ.CONSULTING_REQUEST_DATE ,C.CONSULTING_COMMENT,
               CF.FILE_NAME, CF.FILE_UPLOAD_PATH, CR.REVIEW_DATE, CR.REVIEW_CONTENT,CR.REVIEW_GRADE
        FROM TBL_CONSULTING_REQUEST CQ JOIN TBL_CONSULTING C
        ON CQ.CONSULTING_REQUEST_NUMBER = C.CONSULTING_REQUEST_NUMBER
        LEFT JOIN TBL_COMPANY_FILE CF
        ON CQ.COMPANY_NUMBER = CF.COMPANY_NUMBER
        JOIN TBL_CONSULTING_REVIEW CR
        ON CQ.CONSULTING_REQUEST_NUMBER = CR.CONSULTING_REQUEST_NUMBER
        WHERE CR.REVIEW_NUMBER = #{reviewNumber}
    </select>

    <update id="updateConsultingReview">
        update TBL_CONSULTING_REVIEW
        SET  REVIEW_DATE = SYSDATE,REVIEW_CONTENT = #{reviewContent}, REVIEW_GRADE = #{reviewGrade}
        WHERE REVIEW_NUMBER = #{reviewNumber}
    </update>

    <delete id="deleteConsultingReview">
        DELETE FROM TBL_CONSULTING_REVIEW
        WHERE REVIEW_NUMBER = #{reviewNumber}
    </delete>



</mapper>