<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mealme.mapper.UserMapper">

    <insert id="insertUser">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_GENDER, USER_PHONE_NUMBER, USER_BIRTH,
                              USER_ADDRESS_NUMBER, USER_ADDRESS1, USER_ADDRESS2, USER_ADDRESS3, USER_EMAIL)
                VALUES (#{userNumber}, #{userId}, #{userPassword}, #{userName}, #{userNickname}, #{userGender}, #{userPhoneNumber}, #{userBirth},
                  #{userAddressNumber}, #{userAddress1}, #{userAddress2}, #{userAddress3}, #{userEmail})
    </insert>

    <insert id="insertKakaoUser">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_GENDER, USER_BIRTH, USER_EMAIL)
        VALUES (#{userNumber}, #{userId}, #{userPassword}, #{userName}, #{userNickname}, #{userGender}, #{userBirth}, #{userEmail})
    </insert>

    <select id="checkUserId" resultType="int">
        SELECT COUNT(USER_NUMBER) FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectUserNumber" resultType="Long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="getUserName" resultType="String">
        SELECT USER_NAME FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="getCompanyName" resultType="String">
        SELECT COMPANY_NAME FROM TBL_COMPANY
        WHERE COMPANY_NUMBER = #{companyNumber}
    </select>




    <insert id="insertCompany">
        <selectKey keyProperty="companyNumber" order="BEFORE" resultType="long">
            SELECT SEQ_COMPANY.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_COMPANY (COMPANY_NUMBER, COMPANY_CODE_NUMBER, COMPANY_REGISTRATION_NUMBER, COMPANY_ID, COMPANY_PASSWORD,
                                 COMPANY_NAME, COMPANY_CEO_NAME, COMPANY_CALL_NUMBER, COMPANY_ADDRESS_NUMBER, COMPANY_ADDRESS1,
                                 COMPANY_ADDRESS2, COMPANY_ADDRESS3, COMPANY_EMAIL, COMPANY_BIRTH)
        values (#{companyNumber}, #{companyCodeNumber},#{companyRegistrationNumber}, #{companyId}, #{companyPassword},
          #{companyName}, #{companyCeoName}, #{companyCallNumber},  #{companyAddressNumber}, #{companyAddress1},
          #{companyAddress2}, #{companyAddress3}, #{companyEmail}, #{companyBirth})
    </insert>

    <select id="checkCompanyId" resultType="int">
        SELECT COUNT(COMPANY_NUMBER) FROM TBL_COMPANY
        WHERE COMPANY_ID = #{companyId}
    </select>

    <select id="selectCompanyNumber" resultType="long">
        SELECT COMPANY_NUMBER FROM TBL_COMPANY
        WHERE COMPANY_ID = #{companyId} AND COMPANY_PASSWORD = #{companyPassword}
    </select>

    <select id="checkUser" resultType="String">
        SELECT USER_ID FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="checkCompany" resultType="String">
        SELECT COMPANY_ID FROM TBL_COMPANY
        WHERE COMPANY_NUMBER = #{companyNumber} AND COMPANY_PASSWORD = #{companyPassword}
    </select>

    <select id="checkUser2" resultType="userModifyVo">
        select U.USER_NUMBER, U.USER_ID, U.USER_PASSWORD, U.USER_NAME, U.USER_NICKNAME, U.USER_GENDER, TO_CHAR(U.USER_BIRTH, 'YYYY-MM-DD') AS USER_BIRTH, U.USER_PHONE_NUMBER,
               U.USER_ADDRESS_NUMBER, U.USER_ADDRESS1, U.USER_ADDRESS2, U.USER_ADDRESS3, U.USER_EMAIL, U.USER_JOIN_DATE, U.USER_COMMENT,
               U.USER_HEIGHT, U.USER_WEIGHT, U.USER_GRADE, UF.FILE_NUMBER, UF.FILE_NAME, UF.FILE_UPLOAD_PATH, UF.FILE_UUID
        from TBL_USER U
        left join TBL_USER_FILE UF ON U.USER_NUMBER = UF.USER_NUMBER
        WHERE U.USER_NUMBER = #{userNumber}
    </select>

    <select id="checkCompany2" resultType="companyModifyVo">
        SELECT C.COMPANY_NUMBER, C.COMPANY_CODE_NUMBER, C.COMPANY_REGISTRATION_NUMBER, C.COMPANY_ID, C.COMPANY_PASSWORD, C.COMPANY_NAME,
               C.COMPANY_CEO_NAME, C.COMPANY_BIRTH, C.COMPANY_CALL_NUMBER, C.COMPANY_ADDRESS_NUMBER, C.COMPANY_ADDRESS1,
               C.COMPANY_ADDRESS2, C.COMPANY_ADDRESS3, C.COMPANY_URL, C.COMPANY_EMAIL, C.COMPANY_COMMENT, C.COMPANY_STATUS,
               CF.FILE_NUMBER, CF.FILE_NAME, CF.FILE_UPLOAD_PATH, CF.FILE_UUID
        FROM TBL_COMPANY C
        LEFT JOIN TBL_COMPANY_FILE CF ON C.COMPANY_NUMBER = CF.COMPANY_NUMBER
        WHERE C.COMPANY_NUMBER = #{companyNumber}
    </select>


    <update id="updateUserNickname">
        update TBL_USER
        set USER_NICKNAME = #{userNickname}
        where USER_NUMBER = #{userNumber}
    </update>

    <update id="updateUserComment">
        update TBL_USER
        set  USER_COMMENT = #{userComment}
        where USER_NUMBER = #{userNumber}
    </update>

    <update id="updateUser">
        update TBL_USER
        set USER_NAME = #{userName}, USER_PASSWORD = #{userPassword}, USER_GENDER = #{userGender}, USER_BIRTH = #{userBirth}, USER_PHONE_NUMBER = #{userPhoneNumber},
            USER_EMAIL = #{userEmail}, USER_ADDRESS_NUMBER = #{userAddressNumber}, USER_ADDRESS1 = #{userAddress1}, USER_ADDRESS2 = #{userAddress2}, USER_ADDRESS3 = #{userAddress3},
            USER_HEIGHT = #{userHeight}, USER_WEIGHT = #{userWeight}
        where USER_NUMBER = #{userNumber}
    </update>

    <update id="updateCompanyName">
        update TBL_COMPANY
        set COMPANY_NAME = #{companyName}
        where COMPANY_NUMBER = #{companyNumber}
    </update>

    <update id="updateCompanyComment">
        update TBL_COMPANY
        set  COMPANY_COMMENT = #{companyComment}
        where COMPANY_NUMBER = #{companyNumber}
    </update>

    <update id="updateCompany">
        update TBL_COMPANY
        set COMPANY_PASSWORD = #{userPassword}, COMPANY_REGISTRATION_NUMBER = #{companyRegistrationNumber}, COMPANY_BIRTH = #{companyBirth}, COMPANY_CALL_NUMBER = #{companyCallNumber},
            COMPANY_EMAIL = #{userEmail}, COMPANY_ADDRESS_NUMBER = #{companyAddressNumber}, COMPANY_ADDRESS1 = #{companyAddress1}, COMPANY_ADDRESS2 = #{companyAddress2}, COMPANY_ADDRESS3 = #{companyAddress3},
            COMPANY_URL = #{userUrl}, COMPANY_INFORMATION = #{companyInformation}
        where COMPANY_NUMBER = #{companyNumber}
    </update>




</mapper>