<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppingList</title>
    <link rel="stylesheet" th:href="@{/css/shop/shoppingList.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside.css}" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body id="body-pd">
<div class="body-container">
    <!-- 사이드바 추가 공간 -->
    <aside class="aside" th:replace="fragment/aside :: aside"></aside>
    <!-- 사이드바 추가 공간 -->
    <div class="main-container">
        <!-- 헤더 추가 공간 -->
        <header class="header2" th:replace="fragment/header2 :: header2"></header>
        <!-- 헤더 추가 공간 -->
        <!-- 작업공간 -->
        <div class="work-container">
            <p>
        <main class="container">
            <section class="main1">
                <div class="main1-banner-wrap">
                    <ul class="main1-slide-ul">
                        <li class="banner">
                            <a href="">
                                <p class="banner1"></p>
                                <img src="../img/banner1.jpg" alt="">
                            </a></li>
                        <li class="banner">
                            <a href="">
                                <p class="banner2"></p>
                                <img src="../img/banner2.jpg" alt="">
                            </a></li>
                        <li class="banner">
                            <a href="">
                                <p class="banner3"></p>
                                <img src="../img/banner3.jpg" alt="">
                            </a></li>
                    </ul>
                    <p class="slide-controller">
                        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                        <span class="prev">&lang;</span>
                        <span class="next">&rang;</span>
                    </p>
                </div>
            </section>
        </main>
        </p>
        <h1>상품목록</h1>
        <hr>
        <h2 class="index-top">
            <div id="menu" style="height: 170px; width:500px; text-align: center; background-color: white; ">
                <ul>
                    <li>
                        <a href="/shop/shoppingList?sort=">음식</a>
                        <ul>
                            <li><a th:href="@{/shop/shoppingList(sort='protein')}">단백질</a></li>
                            <li><a th:href="@{/shop/shoppingList(sort='lowCalorie')}">저칼로리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">보충제</a>
                        <ul>
                            <li><a href="#">프로틴 쉐이크</a></li>
                            <li><a href="#">프로틴 바</a></li>
                        </ul>
                    </li>
                    <li><a href="#">영양제</a>
                        <ul>
                            <li><a href="#">비타민</a></li>
                            <li><a href="#">유산균</a></li>
                            <li><a href="#">마그네슘</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </h2>
            <div class="ShoppingContainer">
                <div class="Shopping-text">
                    총
                    <a class="ShoppingNumber">
                        <span th:text="${productAll.size()} + '개 상품이 있습니다'"></span>
                    </a>
                    <div class="select-wrap">
                        <select id="selectItem" class="select">
                            <option value="allList">전체</option>
                            <option value="lowPriceList">낮은 가격순</option>
                            <option value="reviewPriceList">별점 높은 순</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="productList">
                <ul>


                </ul>
            </div>
        </div>
        <div class="page_wrap">
            <div class="page_nation">
                <a th:href="@{/shop/shoppingList(page=${pageInfo.criteria.page - 1})}" class="arrow prev" th:if="${pageInfo.criteria.page > 1}"></a>
                <a th:href="@{/shop/shoppingList(page=${pageInfo.startPage - 1})}" class="page_nation a" th:if="${pageInfo.prev}">
                    <li class="arrow prev">&lt</li>
                </a>

                <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                    <a th:href="@{/shop/shoppingList(page=${i})}" class="page_nation a">
                        <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
                        <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
                    </a>
                </th:block>

                <a th:href="@{/shop/shoppingList(page=${pageInfo.endPage + 1})}" class="page_nation a" th:if="${pageInfo.next}">
                    <li class="arrow next">&gt</li>
                </a>
                <a th:href="@{/shop/shoppingList(page=${pageInfo.criteria.page + 1})}" class="arrow next"></a>
            </div>
        </div>
    </div>

</div>
</div>

        </div>
    </div>
</p>
        </div>

        <!-- 작업공간 -->
        <!--                </div>-->
        <!-- 푸터 추가 공간 -->
        <footer class="footer2" th:replace="fragment/footer2 :: footer2"></footer>
    </div>
</div>
<aside class="aside2" th:replace="fragment/aside2 :: aside2">
    <div class="menu-container"></div>
</aside>
<!-- 퀵 메뉴 추가 공간 -->
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/js/shop/shoppingList.js}"></script>
<script th:src="@{/js/fragment/aside.js}"></script>
<script>
    function redirectToShoppingDetail(productNumber) {
        var url = '/shop/shoppingDetail?productNumber=' + productNumber;
        location.href = url;
    }
</script>
</body>
</html>
