<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/shop/shoppingDetail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header2.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/footer2.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/aside2.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/aside.css}" />
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap}"/>
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body id="body-pd">
<div class="body-container">
  <!-- 사이드바 추가 공간 -->
  <aside class="aside" th:replace="fragment/aside :: aside"></aside>
  <!-- 사이드바 추가 공간 -->

  <div class="main-container">
    <!-- 헤더 추가 공간 -->
    <header class="header2" th:replace="fragment/header2 :: header2"></header>
    <!-- 헤더 추가 공간 -->
    <!-- 작업공간 -->
    <div class="work-container">
      <p>
      <div id="wrapper">
        <main id="product">
          <section class="view">
            <article class="info">
              <div class="image">
                <img src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20220510/IMG1652xdA145362055_600_600.jpg" alt="상품이미지">
              </div>
              <div class="summary">
                <nav>
                  <h1 th:text="${product.productName}"></h1>
                            <div class="star-rating">
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            </div>
                  <div class="count-btn-container">
                  <span class="count-btn">
                    <button id="decreaseBtn">-</button>
                    <span id="count">1</span>
                    <button id="increaseBtn">+</button>
                  </span>
                  </div>
                </nav>
                <nav>
                  <h3 th:text="${product.productSeller}"></h3>
                  <p th:text="${product.productExplanation}"></p>
                  <h5 class="rating star4">
                    <a href="#">상품평보기</a>
                  </h5>
                </nav>
                <nav>
                  <span class="delivery">무료배송</span>
                  <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                </nav>
                <span th:text="${product.productInventory} + '개'"></span>


<!--                <div class="count">-->
<!--                  <button class="decrease">-</button>-->
<!--                  <input type="text" name="num" value="1" readonly>-->
<!--                  <button class="increase">+</button>-->
<!--                </div>-->
                <div class="total">
                  <span th:text="${product.productPrice}"></span>
                  <em>총 상품금액</em>
                </div>
                <p class="addToCart">
                  <button type="button" class="addCart_btn">카트에 담기</button>
                <div class="button">
                  <form action="/shop/shoppingBasket" method="post">
                    <input type="hidden" name="userNumber" th:value="${userNumber}" />
                    <button class="cart" type="submit">장바구니</button>
                  </form>
                  <form action="/shop/shoppingPay" method="post">
                    <input type="hidden" name="userNumber" th:value="${userNumber}" />
                    <button class="order" type="submit">구매하기</button>
                  </form>
                </div>

              </div>
            </article>
            <article class="detail">
              <nav><h1>상품정보</h1></nav>
              <img src="https://file.rankingdak.com/store/store/notice/notice_ice_banner.jpg" alt="상세페이지1">
              <img src="https://file.rankingdak.com/store/msd/item/msd040/msd040_01.jpg" alt="상세페이지2">
              <img src="https://file.rankingdak.com/store/msd/item/msd040/msd040_15.jpg" alt="상세페이지3">
            </article>
            <article class="notice">
              <nav>
                <h1>상품 정보 제공 고시</h1>
                <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
              </nav>
              <table>
                <tr>
                  <td>상품번호</td>
                  <td th:text="${product.productNumber}"></td>
                </tr>
                <tr>
                  <td>상품 등록일</td>
                  <td th:text="${product.productRegisterDate}"></td>
                </tr>
                <tr>
                  <td>재고 수량</td>
                  <td th:text="${product.productInventory}+'개'"></td>
                </tr>
                <td colspan="2">
                  구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우
                </td>
                </tr>
              </table>
              <p class="notice">
                소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
              </p>
            </article>
            <article class="review">
              <nav><h1>상품리뷰</h1></nav>
              <ul>
                <li>
                  <div>
                    <span>
                         <div class="star-rating">
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            <a href="#" class="on">★</a>
                            </div>
                    </span>
                    <span> <!--th:text="${userId}"-->iosghz</span>
                    <span th:text="${#dates.format(reviewDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                  <h3 th:text="${product.productName}">상품명</h3>
                  <p th:text="${reviewContent}" style="margin-top: 50px;">
                  </p>
                  </div>
                </li>
              </ul>
            </article>
          </section>
        </main>
      </div>
      </p>
    </div>
    <!-- 작업공간 -->
      <!-- 푸터 추가 공간 -->
      <footer class="footer2" th:replace="fragment/footer2 :: footer2"></footer>
    </div>
  </div>
  <!-- 퀵 메뉴 추가 공간 -->
  <aside class="aside2" th:replace="fragment/aside2 :: aside2">
    <div class="menu-container"></div>
  </aside>
  <script th:src="@{/js/shop/shoppingDetail.js}"></script>
  <script th:src="@{/js/fragment/aside.js}"></script>
  <!-- 퀵 메뉴 추가 공간 -->
  <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
<script th:inline="javascript"></script>

<script>
  $(".addCart_btn").click(function(){
    var gdsNum = $("#gdsNum").val();
    var cartStock = $(".numBox").val();

    var data = {
      gdsNum : gdsNum,
      cartStock : cartStock
    };

    $.ajax({
      url : "/shop/shoppingBasket",
      type : "post",
      data : data,
      success : function(result){
        alert("카트 담기 성공");
        $(".numBox").val("1");
      },
      error : function(){
        alert("카트 담기 실패");
      }
    });
  });
</script>

</body>

</html>