<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppingList</title>
    <link rel="stylesheet" th:href="@{/css/shop/shoppingList.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside2.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/aside.css}" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body id="body-pd">
<div class="body-container">
    <aside class="aside" th:replace="fragment/aside :: aside"></aside>
    <div class="main-container">
        <header class="header2" th:replace="fragment/header2 :: header2"></header>
        <!-- 작업공간 -->
        <div class="work-container">
            <p>
        <main class="container">
            <section class="main1">
                <div class="main1-banner-wrap">
                    <ul class="main1-slide-ul">
                        <li class="banner">
                            <a href="">
                                <p class="banner1"></p>
                                <img src="../img/banner1.jpg" alt="">
                            </a></li>
                        <li class="banner">
                            <a href="">
                                <p class="banner2"></p>
                                <img src="../img/banner2.jpg" alt="">
                            </a></li>
                        <li class="banner">
                            <a href="">
                                <p class="banner3"></p>
                                <img src="../img/banner3.jpg" alt="">
                            </a></li>
                    </ul>
                    <p class="slide-controller">
                        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                        <span class="prev">&lang;</span>
                        <span class="next">&rang;</span>
                    </p>
                </div>
            </section>
        </main>
        </p>

<!--  상품 카테고리 -->
            <div class="product-category">
                <ul class="category-ul">
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/01닭가슴살.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    닭가슴살
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/02도시락.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    도시락
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/03야채과일.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    야채/과일
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/04건강식품.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    건강식품
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/05프로틴.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    프로틴
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box">
                                    <img th:src="@{/img/06프로틴바.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    프로틴바
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="category-li">
                        <a href="">
                            <div class="category-box">
                                <div class="category-img-box filter">
                                    <img th:src="@{/img/07영양제.png}" alt="다이어트" class="on-img">
                                </div>
                                <div class="category-name">
                                    영양제
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>상품목록</h1>
                <hr>
            </div>
            <div class="ShoppingContainer">
                <div class="Shopping-text">
                    총
                    <a class="ShoppingNumber">
                        <span th:text="${getTotal} + '개 상품이 있습니다'"></span>
                    </a>
                    <div class="select-wrap">
                        <select id="selectItem" class="select">
                            <option value="allList">전체</option>
                            <option value="lowPriceList">낮은 가격순</option>
                            <option value="reviewPriceList">별점 높은 순</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="productList">
                <ul>
                    <li th:each="productList : ${productList}" class="product">
                        <div class="shopping-list">
                            <ul>
                                <li class="shoppingItem">
                                    <div class="shoppingItemContainer">
                                        <a th:href="@{/shop/shoppingDetail(productNumber=${productList.productNumber})}">
                                            <div class="img-box">
                                                <img th:unless="${productList.fileName == null}" th:src="${'/upload/' + productList.fileUploadPath + '/' + productList.fileUuid + '_' + productList.fileName}">
                                            </div>
                                        </a>
                                        <div class="shoppingDesc">
                                            <div class="top">
                                                <p class="title" th:text="${productList.productName}"></p>
                                                <div class="price-container">
                                                    <span class="price" th:text="${productList.productPrice} + '원'"></span>
                                                </div>
                                                <div id="starRating">
                                                    <div class="product-item">
                                                        <div class="rating" th:data-rating="${productList.avgGrade}">
                                                            <span class="star filled" th:each="i: ${#numbers.sequence(1, 5)}" th:classappend="${i <= productList.avgGrade ? 'filled' : ''}">★</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
        </div>
    </div>
</p>
        </div>
        <!-- 작업공간 -->
        <!-- 푸터 추가 공간 -->
        <footer class="footer2" th:replace="fragment/footer2 :: footer2"></footer>
    </div>
</div>
<aside class="aside2" th:replace="fragment/aside2 :: aside2">
    <div class="menu-container"></div>
</aside>
<!-- 퀵 메뉴 추가 공간 -->
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/js/shop/shoppingList.js}"></script>
<script th:src="@{/js/fragment/aside.js}"></script>
</body>
</html>
